//@mixin transition($type, $time) {
//  -webkit-transition: $type $time;
//  -moz-transition: $type $time;
//  -ms-transition: $type $time;
//  -o-transition: $type $time;
//  transition: $type $time;
//}

@mixin border-radius($with) {
  -webkit-border-radius: $with;
  -moz-border-radius: $with;
  -ms-border-radius: $with;
  -o-border-radius: $with;
  border-radius: $with;
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

@mixin selectable($selectable){
  -webkit-user-select: $selectable;
  -moz-user-select: $selectable;
  -khtml-user-select: $selectable;
  -ms-user-select:$selectable;
  -o-user-select:$selectable;
}
@mixin spanItem(){
  text-align: center;
  width: 100%;
  height: $planillas-height-row - 1px;
  padding: $planillas-padding-base-all;
  display: block;
  vertical-align: middle;
}


@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -ms-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -ms-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin animation-fill-mode($mode) {
    -webkit-animation-fill-mode: $mode;
    -moz-animation-fill-mode: $mode;
    -ms-animation-fill-mode: $mode;
    -o-animation-fill-mode: $mode;
    animation-fill-mode: $mode;
}

@mixin border-radius($border-radius) {
    -webkit-border-radius: $border-radius !important;
    -moz-border-radius: $border-radius !important;
    -ms-border-radius: $border-radius !important;
    -o-border-radius: $border-radius !important;
    border-radius: $border-radius !important;
}

@mixin box-shadow($box-shadow) {
    -webkit-box-shadow: $box-shadow !important;
    -moz-box-shadow: $box-shadow !important;
    -ms-box-shadow: $box-shadow !important;
    -o-box-shadow: $box-shadow !important;
    box-shadow: $box-shadow !important;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transform) {
    -webkit-transform: $transform !important;
    -moz-transform: $transform !important;
    -ms-transformn: $transform !important;
    -o-transform: $transform !important;
    transform: $transform !important;
}

@mixin transform-origin($position) {
    -webkit-transform-origin: $position;
    -moz-transform-origin: $position;
    -o-transform-origin: $position;
    -ms-transform-origin: $position;
    transform-origin: $position;
}

@mixin width-static($width) {
    min-width: $width !important;
    max-width: $width !important;
    width: $width !important;
}
