.navbar{
  background-color:$adminBar_background;
  color: white;
}
.nav {
  @include transition(all, 0.5s);
}

.nav li a,
.nav li a {
  @include transition(all, 0.5s);
}

.nav li a:hover,
.nav li a:focus {
  outline: none !important;
  background-color: darken($adminBar_background, 10%) !important;
  @include transition(all, 0.5s);
}

.nav ul {
  @include transition(all, 0.5s);
  background-color: $adminBar_background !important;
  color: white;
  padding: 0;
  min-width: 100%;
}

.nav ul a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav a {
  color: white !important;
}

.divide {
  background-color: darken($adminBar_background, 50%) !important;
}
