@import "variables";

::-webkit-scrollbar {
  width: $scrollBar_width;
  /*background: #dbe8ec;*/
  opacity: 0;
  height: $scrollBar_height;
}

::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #3c454e;
  border: thin solid #1a1f25;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(top, #5aafb0, #4ca06d);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 225, .5),
  inset 1px 0 0 rgba(255, 255, 255, .4),
  inset 0 1px 2px rgba(255, 255, 255, .3);

  border: thin solid #232c34;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-linear-gradient(top, #4ca06d, #5aafb0);
}

/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(77, 161, 112, .6);
}
