//
$table-font-size: 11px;
$backgroud-app:rgba(52, 73, 94, 1.0);
$principal-background:#154875;
$principal-text:white;
$principal-border-radius:6px;


$scrollBar_width: 8px;
$scrollBar_height: 8px;
$adminBar_background: #154875;
$adminBar_height: 170px;
$buttons-transitions-time: .5s;



//principal loader
$image-loader-first-color:#3498db;
$image-loader-second-color:#f9c922;
$image-loader-three-color:#e74c3c;
$image-loader-background: rgba(5,5,255,.2);
$login-background: rgba(52, 73, 94,1);
//
//login
  $background-login-body:#2c3e50;
//
$planillas-font-size:10px;

///
$planillas-width-cuenta:100px;
$planillas-width-grado:35px;
$planillas-width-nombres:190px;
$planillas-width-carrera:160px;
$planillas-width-materia:165px;
$planillas-width-tipo:70px;
$planillas-width-horas:35px;
$planillas-width-categoria:30px;


$planillas-width-factura:30px;


$planillas-padding-base-all:5px 3px 5px 3px;
$planillas-height-row:45px;


