<div ng-controller="TracingController">
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading text-center text-uppercase">
                PAGOS REALIZADOS
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 filter-field">
                        <p>Docente</p>
                        <ui-select ng-model="tmp_filters.docente"
                                   theme="bootstrap"
                                   title="Seleccione docente"
                                   ng-change="filters.docente = tmp_filters.docente.id;load_tracing()">
                            <ui-select-match allow-clear="true" placeholder="-- Todos los docentes --">
                                {{$select.selected.ap_paterno+' '+$select.selected.ap_materno+' '+
                                $select.selected.nombres}}
                            </ui-select-match>
                            <ui-select-choices
                                refresh="searchCustomDocente($select.search)" refresh-delay="300"
                                repeat="docente in custom_list_docente">
                                <div
                                    ng-bind-html="(docente.ap_paterno + ' '+docente.ap_materno+' '+docente.nombres) | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <hr class="clearfix">
                <table class="table table-bordered table-striped table-hover" ng-show="tracing_list.length >0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Numero de pago</th>
                        <th>Fecha de pago</th>
                        <th>Monto</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="list in tracing_list">
                        <td ng-bind="index + 1"></td>
                        <td ng-bind="list.numero_pago">

                        </td>
                        <td ng-bind="list.updated_at|amCalendar"></td>
                        <td ng-bind="list.liquido_pagable + ' Bs'"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="3" class="text-right">TOTAL:</th>
                        <th ng-bind="sum_total + ' Bs'"></th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
                <p class="alert alert-info" ng-show="!tracing_list.length">
                    Registro de pagos no encontrado:
                </p>
            </div>
        </div>
    </div>


</div>
