<table class="table-editable">
    <thead>
    <tr>
        <th width-static="20" rowspan="2" class="rotate90" ng-if="editable">Estado</th>
        <th width-static="21" rowspan="2">N</th>
        <th width-static="68" rowspan="2">CI</th>
        <th width-static="95" rowspan="2">Cuenta BU</th>
        <th width-static="30" rowspan="2" class="rotate90">Grado</th>
        <th width-static="120" rowspan="2">Apellidos y Nombres</th>
        <th rowspan="2" ng-if="enable_fields.especialidad">Carrera</th>
        <th width-static="150" rowspan="2">Materia</th>
        <th width-static="30" rowspan="2" title="Teoría, Práctica, Laboratorio">Tipo</th>
        <th width-static="30" rowspan="2" class="rotate90">
            Horas <br>{{filters.tipo_pago == 2 ? "Sem.":''}}
        </th>
        <th width-static="25" rowspan="2" class="rotate90" title="A, B, C, D">Cat.</th>
        <th colspan="{{filters.show_reintegro?4:3}}">Ingresos</th>
        <th width-static="35" rowspan="2" ng-if="filters.show_atrasos" class="rotate90"
            title="{{filters.tipo_pago==2?'Nro. Periodos de atraso':'Horas atrasadas'}}">Atrasos
        </th>
        <th width-static="45" rowspan="2">TOTAL</th>
        <th colspan="3">Egresos</th>
        <th width-static="30" rowspan="2" class="rotate90">Factura</th>
        <th width-static="30" rowspan="2" class="rotate90" title="Tipo de pago">Pago</th>
        <th width-static="50" rowspan="2">Liquido Pagable</th>
        <!--<th rowspan="2" class="text-center">Op</th>-->
    </tr>
    <tr>
        <th width-static="45">Monto</th>
        <th width-static="45">Total1</th>
        <th width-static="50" ng-show="filters.show_reintegro">Reintegro</th>
        <th width-static="45" title="Total 1 + Reintegro">Total2</th>
        <th width-static="45" title="Impuesto a las utilidades">I.U.</th>
        <th width-static="45" title="Impuesto a las transacciones">I.T.</th>
        <th width-static="45" title="Impuesto a las utilidades + Impuesto a las transacciones">
            Total
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="registro in planillas_data.data" context-menu="menusPayrollList"
        class="hover-row"
        style="{{(id_new_payroll_register == registro.id)?'background: rgba(245, 215, 110,0.5)':''}}">

        <td class="center status" ng-if="editable">
            <button class="btn-registro" ng-class="registro.habilitado==1?'habilitado':'inhabilitado'"
                    title="{{registro.habilitado==1?'Inabilitar registro':'Habilitar registro'}}"
                    ng-click="update_item_payroll(registro.habilitado==1?0:1,registro.id,'habilitado')">
                <i class="glyphicon " ng-class="registro.habilitado==1?'glyphicon-ok':'glyphicon-minus'"></i>
            </button>
        </td>

        <td class="center" ng-bind="$index+1"></td>
        <td class="center" ng-bind="registro.docente.ci"></td>
        <td width-static="95" class="editable">
            <div ng-bind="registro.cuenta_bancaria||' -- '" ng-if="!editable"></div>
            <div ng-if="editable" editable-text="registro.cuenta_bancaria"
                 buttons="no" class="edit-label"
                 onbeforesave="update_item_payroll($data,registro.id,'cuenta_bancaria')"
                 ng-bind="registro.cuenta_bancaria||' -- '">
            </div>
        </td>
        <td width-static="30" class="center editable">
            <div ng-bind="registro.grado.short" ng-if="!editable"></div>
            <div ng-if="editable" editable-select="registro.grado"
                 e-ng-options="item.id as item.name for item in GLOBALS.GRADOS_DOCENTE"
                 buttons="no" class="edit-label"
                 onbeforesave="update_item_payroll($data,registro.id,'grado')"
                 ng-bind="registro.grado.short">
            </div>
        </td>
        <td width-static="155"
            ng-bind="registro.docente.ap_paterno+' '+registro.docente.ap_materno  + ' '+registro.docente.nombres">
        </td>
        <td ng-show="enable_fields.especialidad" ng-bind="registro.especialidad.name"></td>
        <td class="editable select-matter-custom">
            <div ng-if="!editable" ng-bind="registro.materia.name"></div>
            <ui-select ng-model="registro.materia" theme="bootstrap"
                       title="Seleccione materia"
                       ng-if="editable"
                       ng-change="update_item_payroll(registro.materia.id,registro.id,'materia')">
                <ui-select-match placeholder="Seleccione materia">
                    {{$select.selected.name}}
                </ui-select-match>
                <ui-select-choices refresh="searchCustomMatter($select.search)"
                                   refresh-delay="300"
                                   repeat="mat in custom_list_materias">
                    <div ng-bind-html="mat.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

        </td>
        <td width-static="30" class="center editable">
            <div ng-bind="registro.tipo.short" ng-if="!editable"></div>
            <div ng-if="editable" editable-select="registro.tipo"
                 e-ng-options="item.id as item.name for item in GLOBALS.TIPOS_DOCENCIA"
                 buttons="no" class="edit-label"
                 onbeforesave="update_item_payroll($data,registro.id,'tipo')"
                 ng-bind="registro.tipo.short">
            </div>
        </td>
        <td width-static="30" class="center editable">
            <div ng-bind="registro.horas_semanales"></div>
        </td>
        <td width-static="25" class="center editable">
            <div ng-bind="registro.categoria" ng-if="!editable"></div>
            <div ng-if="editable" editable-select="registro.categoria"
                 e-ng-options="item.id as item.name for item in GLOBALS.TIPOS_CATEGORIAS"
                 buttons="no" class="edit-label"
                 onbeforesave="update_item_payroll($data,registro.id,'categoria')"
                 ng-bind="registro.categoria">
            </div>
        </td>
        <td class="center" ng-bind="registro.monto|mountC"></td>
        <td class="center" ng-bind="registro.total_1|mountC"></td>
        <td width-static="50" class="center editable" ng-if="filters.show_reintegro">
            <div ng-bind="registro.reintegro?(registro.reintegro|mountC):' -- '" ng-if="!editable"></div>
            <div ng-if="editable" editable-text="registro.reintegro"
                 buttons="no" class="edit-label"
                 onbeforesave="update_item_payroll($data,registro.id,'reintegro')"
                 ng-bind="registro.reintegro">
            </div>
        </td>
        <td class="center" ng-bind="registro.total_2|mountC"
            style="{{(registro.error_code==1)?'background: #e74c3c':''}}"
            title="{{(registro.error_code==1)?registro.error_message:''}}"></td>
        <td width-static="35" class="center editable" ng-if="filters.show_atrasos">
            <div ng-bind="registro.atrasos_periodos ||' -- '" ng-if="!editable"
                 title="{{registro.atrasos_periodos?(registro.atrasos_periodos + ' horas atrasadas'):''}}"></div>
            <div ng-if="editable" editable-text="registro.atrasos_periodos"
                 buttons="no" class="edit-label"
                 onbeforesave="update_item_payroll($data,registro.id,'atrasos_periodos')"
                 ng-bind="registro.atrasos_periodos ||' -- '"
                 title="{{registro.atrasos_periodos?(registro.atrasos_periodos + (filters.tipo_pago==1?' horas atrasadas':' periodos atrasados')):''}}">
            </div>
        </td>
        <td class="center" ng-bind="registro.total_3|mountC"></td>
        <td class="center" ng-bind="registro.iu|mountC"></td>
        <td class="center" ng-bind="registro.it|mountC"></td>
        <td class="center" ng-bind="registro.total_4|mountC"></td>
        <td width-static="30" class="center editable">
            <div ng-bind="registro.factura" ng-if="!editable"></div>
            <div ng-if="editable" editable-select="registro.factura"
                 e-ng-options="item.id as item.name for item in GLOBALS.FACTURA_ITEMS"
                 buttons="no" class="edit-label"
                 onbeforesave="update_item_payroll($data,registro.id,'factura')"
                 ng-bind="registro.factura">
            </div>
        </td>
        <td width-static="30" class="center editable">
            <div ng-bind="registro.tipo_pago.short" ng-if="!editable"></div>
            <div ng-if="editable" editable-select="registro.tipo_pago"
                 e-ng-options="item.id as item.name for item in GLOBALS.TIPO_PAGO"
                 buttons="no" class="edit-label"
                 onbeforesave="update_item_payroll($data,registro.id,'tipo_pago')"
                 ng-bind="registro.tipo_pago.short">
            </div>
        </td>
        <td class="text-right" ng-bind="registro.liquido_pagable|mountC"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr ng-hide="planillas_data.data.length>0">
        <td colspan="21" class="text-center">
            <p class="alert alert-info"> -- No se encontraron resultados -- </p>
        </td>
    </tr>
    </tfoot>
</table>
