<div class="modal-header">
    <h3 class="modal-title">INFORMACIÓN DEL SISTEMA</h3>
    <h4 class="modal-title">SISTEMA DE PLANILLAS v3</h4>
</div>
<div class="modal-body">
    <div class="row text-center center-block">
        <div class="col-md-3 list-group animateItemAbout" ng-show="item3">
            <a class="list-group-item active">
                {{institucion}}
            </a>
            <div class="thumbnail hidden-xs hidden-sm">
                <img src="images/location.jpg" alt="..." class="img-circle img-responsive" style="height: 150px">
                <div class="caption">
                </div>
            </div>
        </div>
        <div class="col-md-3 list-group animateItemAbout" ng-show="item2">
            <a class="list-group-item active">
                {{carrera}}
            </a>
            <div class="thumbnail hidden-xs hidden-sm">
                <img src="images/cnl.jpg" alt="..." class="img-circle img-responsive" style="height: 150px">
                <div class="caption">
                </div>
            </div>
        </div>
        <div class="col-md-3 list-group animateItemAbout" ng-show="item1">
            <a class="list-group-item active">
                {{developer}}
            </a>
            <div class="thumbnail hidden-xs hidden-sm">
                <img src="images/eyvind2.jpg" alt="..." class="img-circle img-responsive" style="height: 150px">
                <div class="caption">
                </div>
            </div>
        </div>
        <div class="col-md-3 list-group animateItemAbout" ng-show="item4">
            <a class="list-group-item active">
                {{docente}}
            </a>
            <div class="thumbnail hidden-xs hidden-sm">
                <img src="images/lineciada.jpg" alt="..." class="img-circle img-responsive" style="height: 150px">
                <div class="caption">
                    <!--<h6></h6>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-center">
    <button type="button" class="btn btn-primary pull-right" ng-click="ok()">Aceptar</button>
    <div class="text-center">
        <label>Sistema de Planillas de pago</label><br>
        <label>Build 3.0.0</label><br>
        <!--<label>Contactos <a href="mailto:eyvind_coaquira@hotmail.com" type="hotmail">eyvind_coaquira@hotmail.com</a></label>-->
    </div>
</div>
