<div class="modal-header">
    <h2 class="modal-title">GESTION DE USUARIOS</h2>
    <h4 class="modal-title">{{items?"MODIFICAR USUARIO":"AGREGAR NUEVO USUARIO"}}</h4>
</div>
<div class="modal-body">
    <form id="new_user" class="form-horizontal paddingV40" ng-submit="guardar(nuevo_usuario)">

        <div class="form-group  form-group-sm">
            <label class="col-sm-2">Tipo: </label>

            <div class="col-sm-4">
                <select class="form-control" ng-model="nuevo_usuario.tipo_usuario"
                        ng-options="tipo.id as tipo.name for tipo in GLOBALS.TIPO_USUARIO" required>
                </select>
            </div>
            <label class="col-sm-3">Unidad Academica: </label>

            <div class="col-sm-3">
                <select class="form-control" ng-model="nuevo_usuario.unidad_academica"
                        ng-options="tipo.id as tipo.name for tipo in GLOBALS.UNIDADES_ACADEMICAS"
                        data-ng-disabled="!GF.isRoot()" required>
                </select>
            </div>
        </div>
        <div class="form-group  form-group-sm">
            <label class="col-sm-4">Carrera: </label>

            <div class="col-sm-8">
                <select ng-if="GF.isRoot() || GF.isAdmin()" class="form-control" ng-model="nuevo_usuario.especialidad"
                        ng-options="especialidad.id as especialidad.name for especialidad in GLOBALS.ESPECIALIDADES"
                        data-ng-disabled="!(GF.isRoot() || GF.isAdmin())" required>
                </select>
            </div>
        </div>

        <div class="form-group  form-group-sm ">
            <label class="col-sm-4">Nombres:</label>

            <div class="col-sm-8">
                <input ng-model="nuevo_usuario.nombres" class="form-control" placeholder="Nombres" required>
            </div>
        </div>
        <div class="form-group  form-group-sm">
            <label class="col-sm-4">Apellido Paterno: </label>

            <div class="col-sm-8">
                <input ng-model="nuevo_usuario.ap_paterno" class="form-control " placeholder="Apellido Paterno"
                       required>
            </div>
        </div>
        <div class="form-group  form-group-sm">
            <label class="col-sm-4">Apellido Materno: </label>

            <div class="col-sm-8">
                <input ng-model="nuevo_usuario.ap_materno" class="form-control " placeholder="Apellido Materno"
                       required>
            </div>
        </div>
        <div class="form-group  form-group-sm">
            <label class="col-sm-4">Carnet </label>

            <div class="col-sm-8">
                <input ng-model="nuevo_usuario.celular" class="form-control " placeholder="Numero de carnet" required>
            </div>
        </div>
        <div class="form-group  form-group-sm">
            <label class="col-sm-4">Correo: </label>

            <div class="col-sm-8">
                <input ng-model="nuevo_usuario.email" class="form-control" type="email" name="email"
                       placeholder="Correo Electrónico" required>
            </div>
        </div>
        <div class="form-group  form-group-sm">
            <label class="col-sm-4">Nombre de Usuario: </label>

            <div class="col-sm-8">
                <input ng-model="nuevo_usuario.username" class="form-control" type="text"
                       placeholder="Nombre de Usuario" required>
            </div>
        </div>

        <div class="form-group  form-group-sm text-center" ng-show="user">
            <button type="button" class="btn btn-info btn-sm"
                    ng-click="modPass = !modPass;delete (nuevo_usuario.password)">
                {{modPass?"No modificar contraseña":"Modificar contraseña"}}
            </button>
        </div>

        <div class="form-group  form-group-sm" ng-show="modPass || !user">
            <label class="col-sm-4">Nueva Contraseña: </label>

            <div class="col-sm-8">
                <input ng-model="nuevo_usuario.password" class="form-control" type="password" name="password"
                       placeholder="Password" ng-required="!user">
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <div class="form-group  form-group-sm">
        <button type="submit" form="new_user" class="btn btn-sm btn-success PH40">Guardar</button>
        <button type="button" class="btn btn-sm btn-warning PH40" ng-click="cancel()">Cancelar</button>
    </div>
</div>
