<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <h2 class="modal-title">PERFIL DE USUARIO</h2>
    <h4 class="modal-title">{{GF.getFullName()}}
        <span>{{' ('+GF.getUnidadAcademicaName()+')'}}</span>
    </h4>
</div>
<div class="modal-body">
    <form id="profile" ng-submit="UpdateProfile(nuevo_usuario)">
        <div class="form-horizontal paddingV40">
            <div class="form-group  form-group-sm ">
                <label class="col-sm-4">Nombres:</label>
                <div class="col-sm-8">
                    <input ng-model="nuevo_usuario.nombres" class="form-control" placeholder="Nombres"
                           minlength="2" maxlength="50" required>
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label class="col-sm-4">Apellido Paterno: </label>
                <div class="col-sm-8">
                    <input ng-model="nuevo_usuario.ap_paterno" class="form-control " placeholder="Apellido Paterno"
                           minlength="2" maxlength="30" required>
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label class="col-sm-4">Apellido Materno: </label>
                <div class="col-sm-8">
                    <input ng-model="nuevo_usuario.ap_materno" class="form-control " placeholder="Apellido Materno"
                           minlength="2" maxlength="30" required>
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label class="col-sm-4">Unidad Academica: </label>
                <div class="col-sm-8">
                    <select ng-model="nuevo_usuario.unidad_academica" class="form-control"
                            ng-options="unidad.id as unidad.name for unidad in GLOBALS.UNIDADES_ACADEMICAS"
                            data-ng-disabled="!GF.isRoot()" required>
                    </select>
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label class="col-sm-4">Especialidad: </label>
                <div class="col-sm-8">
                    <select ng-model="nuevo_usuario.especialidad" class="form-control"
                            ng-options="especialidad.id as especialidad.name for especialidad in GLOBALS.ESPECIALIDADES"
                            data-ng-disabled="(GF.isJefeCarrera()||GF.isSecretaria())" required>
                    </select>
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label class="col-sm-4">Tipo de usuario: </label>
                <div class="col-sm-8">
                    <select ng-model="nuevo_usuario.tipo_usuario" class="form-control"
                            ng-options="tipo.id as tipo.name for tipo in GLOBALS.TIPO_USUARIO"
                            data-ng-disabled="true" required>
                    </select>
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label class="col-sm-4">Correo: </label>
                <div class="col-sm-8">
                    <input ng-model="nuevo_usuario.email" class="form-control" type="email" name="email"
                           placeholder="Correo Electrónico" maxlength="100" required>
                </div>
            </div>
            <div class="form-group  form-group-sm">
                <label class="col-sm-4">Nombre de Usuario: </label>
                <div class="col-sm-8">
                    <input ng-model="nuevo_usuario.username" class="form-control" type="text"
                           minlength="5" maxlength="30"
                           placeholder="Nombre de Usuario" required>
                </div>
            </div>
            <div class="form-group  form-group-sm text-center">
                <button type="button" class="btn btn-info btn-sm"
                        ng-click="modPass = !modPass;delete (nuevo_usuario.password)">
                    {{modPass?"No modificar contraseña":"Modificar contraseña"}}
                </button>
            </div>
            <div class="form-group  form-group-sm" ng-show="modPass">
                <label class="col-sm-4">Nueva Contraseña: </label>
                <div class="col-sm-8">
                    <input ng-model="nuevo_usuario.password" class="form-control" type="password" name="password"
                           placeholder="Password">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" form="profile" class="btn btn-primary">Aceptar y Guardar</button>
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancelar</button>
</div>
