<div class="modal-header">
    <h2 class="modal-title">PLANILLAS</h2>
    <h4 class="modal-title">REGISTRO DE PLANILLA</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="">
            <label class="col-md-5">Docente:</label>

            <p class="col-md-7">{{registro.grado.short + '. '+registro.docente.nombres+' '+registro.docente.ap_paterno
                +' '+registro.docente.ap_materno}}</p>
        </div>
        <div class="">
            <label class="col-md-5">Carnet:</label>

            <p class="col-md-7">{{registro.docente.ci}}</p>
        </div>
        <div class="">
            <label class="col-md-5">Categoria:</label>

            <p class="col-md-7">{{registro.categoria}}</p>
        </div>
        <div class="">
            <label class="col-md-5">Cuenta bancaria:</label>

            <p class="col-md-7">{{registro.cuenta_bancaria||' -- sin especificar --'}}</p>
        </div>
        <div class="">
            <label class="col-md-5">Materia:</label>

            <p class="col-md-7">{{registro.materia.name + ' - ('+registro.tipo.name+')'}}</p>
        </div>
        <div class="" ng-show="registro.tipo_pago.id == 2">
            <label class="col-md-5">Horas Semanales:</label>
            <p class="col-md-7">{{registro.horas_semanales + ' - '+registro.monto+' Bs/h'}}</p>
        </div>
        <div class="" ng-show="registro.tipo_pago.id == 1">
            <label class="col-md-5">Pago por horas:</label>
            <p class="col-md-7">{{registro.monto+' Bs/h'+' Horas registradas: '+registro.horas_semanales+' Hrs'}}</p>
        </div>

        <div class="">
            <label class="col-md-5">Pensul:</label>

            <p class="col-md-7">
                <select
                    ng-init="new_value_pensul=(GLOBALS.PENSUL|filter:{id:registro.pensul.id})[0].id"
                    ng-model="new_value_pensul"
                    ng-options="g.id as g.name for g in GLOBALS.PENSUL">
                </select>
            </p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success right" ng-click="ok(new_value_pensul)">Aceptar</button>
</div>
