<div class="modal-header">
    <h2 class="modal-title">GENERAR PLANILLA</h2>
    <h4 class="modal-title">REPORTE DE PLANILLAS DE PAGO</h4>
</div>
<div class="modal-body">
    <div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <textarea class="fullWidth fullHeight" ng-model="headers_planilla.title_header"
                          placeholder="Titulo"></textarea>
            </div>
        </div>
        <div class="row text-center" style="font-size: 12px">

            <div class="col-md-3">
                <textarea class="fullWidth fullHeight" ng-model="headers_planilla.name1"
                          placeholder="RESP DE INFORMÁTICA"></textarea>
                <label class="cursorCell" ng-model="headers_planilla.cargo1"
                       editable-textarea="headers_planilla.cargo1">{{headers_planilla.cargo1}}</label>
            </div>
            <div class="col-md-3">
                <textarea class="fullWidth fullHeight" ng-model="headers_planilla.name2"
                          placeholder="JEFA DE ASULTOS ADMINISTRATIVOS"></textarea>
                <label class="cursorCell" ng-model="headers_planilla.cargo2"
                       editable-textarea="headers_planilla.cargo2">{{headers_planilla.cargo2}}</label>
            </div>
            <div class="col-md-3">
                <textarea class="fullWidth fullHeight" ng-model="headers_planilla.name3"
                          placeholder="DIRECTOR NACIONAL DE INFORMATICA"></textarea>
                <label class="cursorCell" ng-model="headers_planilla.cargo3"
                       editable-textarea="headers_planilla.cargo3">{{headers_planilla.cargo3}}</label>
            </div>
            <div class="col-md-3">
                <textarea class="fullWidth fullHeight" ng-model="headers_planilla.name4"
                          placeholder="DIRECTOR UNIDAD ACADEMICA"></textarea>
                <label class="cursorCell" ng-model="headers_planilla.cargo4"
                       editable-textarea="headers_planilla.cargo4">{{headers_planilla.cargo4}}</label>
            </div>
        </div>
        <div class="row"></div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-success PH40" ng-click="ok(headers_planilla)">ACEPTAR Y GENERAR REPORTE</button>
    </div>
</div>
