<div class="modal-header">
  <h2 class="modal-title">CUENTA</h2>
  <h4 class="modal-title">RECUPERAR CONTRASEÑA</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal" ng-submit="restartPassword(restartEmail)">
    <div class="form-group ">
      <label class="col-sm-5">Ingrese su correo:</label>
      <div class="col-sm-7">
        <input ng-model="restartEmail" type="email" class="form-control" placeholder="Correo electronico" required>
      </div>
    </div>
    <div class="form-group fullWidth center">
      <button type="submit" class="btn btn-success center">Enviar correo</button>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
