<div class="modal-header" xmlns="http://www.w3.org/1999/html">
  <h2 class="modal-title">PERFIL DE USUARIO</h2>
  <h4 class="modal-title">{{GF.getFullName()}}
    <span>{{' ('+GF.getUnidadAcademicaName()+')'}}</span>
  </h4>
</div>
<div class="modal-body">
  <div class="form-horizontal paddingV40">
    <div class="form-group  form-group-sm ">
      <label class="col-sm-4">Nombres:</label>

      <div class="col-sm-8">
        <input ng-model="nuevo_usuario.Nombres" class="form-control" placeholder="Nombres"/>
      </div>
    </div>
    <div class="form-group  form-group-sm">
      <label class="col-sm-4">Apellido Paterno: </label>

      <div class="col-sm-8">
        <input ng-model="nuevo_usuario.apPaterno" class="form-control " placeholder="Apellido Paterno"/>
      </div>
    </div>
    <div class="form-group  form-group-sm">
      <label class="col-sm-4">Apellido Materno: </label>

      <div class="col-sm-8">
        <input ng-model="nuevo_usuario.apMaterno" class="form-control " placeholder="Apellido Materno"/>
      </div>
    </div>
    <div class="form-group  form-group-sm" ng-if="GF.isRoot()">
      <label class="col-sm-4">Unidad Academica: </label>
      <div class="col-sm-8">
        <select ng-model="nuevo_usuario.idUnidadAcademica" class="form-control"
                ng-options="tipo.idUnidadAcademica as tipo.UnidadAcademica for tipo in GLOBALS.UNIDADES_ACADEMICAS">
        </select>
      </div>
    </div>
    <div class="form-group  form-group-sm">
      <label class="col-sm-4">Carnet </label>
      <div class="col-sm-8">
        <input ng-model="nuevo_usuario.Celular" class="form-control " placeholder="Numero de Carnet"/>
      </div>
    </div>
    <div class="form-group  form-group-sm">
      <label class="col-sm-4">Correo: </label>

      <div class="col-sm-8">
        <input ng-model="nuevo_usuario.email" class="form-control" type="email" name="email"
               placeholder="Correo Electronico"/>
      </div>
    </div>

    <div class="form-group  form-group-sm">
      <label class="col-sm-4">Nombre de Usuario: </label>

      <div class="col-sm-8">
        <input ng-model="nuevo_usuario.name" class="form-control" type="text" placeholder="Nombre de Usuario"/>
      </div>
    </div>
    <div class="form-group  form-group-sm text-center">
      <button class="btn btn-info btn-sm" ng-click="modPass = !modPass;delete (nuevo_usuario.password)">{{modPass?"No modificar contraseña":"Modificar contraseña"}}</button>
    </div>
    <div class="form-group  form-group-sm" ng-show="modPass">
      <label class="col-sm-4">Nueva Contraseña: </label>
      <div class="col-sm-8">
        <input ng-model="nuevo_usuario.password" class="form-control" type="password" name="password"
               placeholder="Password"/>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="UpdateProfile(nuevo_usuario)">Aceptar y Guardar</button>
  <button type="button" class="btn btn-warning" ng-click="cancel()">Cancelar</button>
</div>
