<div class="modal-header">
    <h2 class="modal-title">MONTOS DE PAGO</h2>
    <h4 class="modal-title">POR CATEGORIA</h4>
</div>
<div class="modal-body">

    <div class="form-horizontal paddingV40">
        <div class="form-group form-group-sm center">
            <h4>Gestión: {{GF.getFullGestionNamme()}}</h4>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-4">Seleccione pensul</label>

            <div class="col-sm-8">
                <select ng-model="pensul_selected" ng-options="pei as pei.name for pei in GLOBALS.PENSUL"
                        class="form-control"
                        ng-init="pensul_selected = GLOBALS.PENSUL[0]"></select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-4">{{pensul_selected.name}}</label>

            <div class="col-sm-8">
                <div ng-repeat="mont in GLOBALS.MONTO_CATEGORIA">
                    <div ng-show="mont['pensul'] == pensul_selected['id']">
                        <div class="col-sm-6" ng-show="mont['categoria']=='A'">Primera (A)</div>
                        <div class="col-sm-6" ng-show="mont['categoria']=='B'">Segunda (B)</div>
                        <div class="col-sm-6" ng-show="mont['categoria']=='C'">Tercera (C)</div>
                        <div class="col-sm-6" ng-show="mont['categoria']=='D'">Cuarta (D)</div>
                        <div class="col-sm-6" ng-show="mont['categoria']=='L'">Laboratorio (L)</div>
                        <div class="col-sm-5">
                            <span onbeforesave="updateMontoPago(mont,$data)" editable-text="mont.monto" buttons="no"
                                  class="tdeditable cursorCell">{{mont.monto}}  </span>
                            <b class="pull-right"><i>Bs / hora</i></b>
                        </div>
                        <i class="clearfix"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ok()">Aceptar</button>
</div>
