<div class="modal-header">
  <h3 class="modal-title">INFORMACION DE GESTION ACADEMICA</h3>
  <h4 class="modal-title">{{GF.getFullGestionNamme()}}</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-sm-3" ng-if="GF.isAdmin() || GF.isRoot()">
      <label>Carreras ({{GLOBALS.ESPECIALIDADES.length}})</label>

      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered ">
          <thead>
          <tr>
            <th class="hidden-md hidden-sm">#</th>
            <th>Especialidad</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="especialidad in GLOBALS.ESPECIALIDADES">
            <td class="hidden-md hidden-sm">{{$index+1}}</td>
            <td>{{especialidad.Especialidad}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-5">
      <label>Categorias</label>

      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered ">
          <thead>
          <tr>
            <th>Pensul</th>
            <th>Categoria</th>
            <th>Monto</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="categoria in GLOBALS.MONTOS_CATEGORIA">
            <td ng-show="categoria.pensul==1">Objetivos</td>
            <td ng-show="categoria.pensul==2">Competencias</td>
            <td>{{categoria.Categoria}}</td>
            <td>{{categoria.Monto | mountCurrency}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-4">
      <!--<label>Tipo de usuarios</label>

      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered ">
          <thead>
          <tr>
            <th class="hidden-md hidden-sm">#</th>
            <th>Rol</th>
            <th>Descripcion</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="user in GLOBALS.TIPOS_USUARIO">
            <td class="hidden-md hidden-sm">{{$index+1}}</td>
            <td>{{user.tipo}}</td>
            <td>{{user.descripcion}}</td>
          </tr>
          </tbody>
        </table>
      </div>-->

      <div class="row">
        <div class="col-md-12">
          <label>Tipo de Docencia</label>

          <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered ">
              <thead>
              <tr>
                <th class="hidden-md hidden-sm">#</th>
                <th>Docencia</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="catedra in GLOBALS.TIPOS_DOCENCIA">
                <td class="hidden-md hidden-sm">{{$index+1}}</td>
                <td>{{catedra.name}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Impuestos</label><br/>

          <div class="table-responsive">
            <div class="col-md-6" ng-show="!GF.getUser().Gestion">
              -- Gestion Academica no Iniciada
            </div>
            <table class="table table-hover table-striped table-bordered " ng-show="GF.getUser().Gestion">
              <thead>
              <tr>
                <th>Impuesto</th>
                <th>%</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="impuesto in GLOBALS.VALOR_IMPUESTOS">
                <td>{{impuesto.name}}</td>
                <td>{{impuesto.value+'%' }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="ok()">Aceptar</button>
</div>
