<div ng-controller="GenerarplanillaCtrl">
    <div class="container-sheets" ng-controller="PayrollController">
        <div id="sheets">
            <nav id="menu-toolbar">
                <div class="block-menu icon">
                    <label class="inline-block">
                        <img src="images/payroll-icon.png"
                             title="EMI">
                    </label>
                </div>
                <div class="block-menu titles">
                    <div class="menu-title">
                        <h3 class="inline-block"
                            data-ng-bind="'Registro de planillas'">
                        </h3>
                        <h5 class="inline-block" ng-bind="filters.periodo_gestion + ' '+ filters.gestion"></h5>
                    </div>
                    <div class="menu-items">
                        <ul class="nav nav-pills">
                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <span class="glyphicon glyphicon-file"></span> Nuevo <span
                                    class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-controller="DocentesCtrl">
                                        <a href data-ng-click="openModalCreate(docentesModel)">
                                            <i class="glyphicon glyphicon-user"></i> Docente</a>
                                    </li>
                                    <li ng-controller="MateriasCtrl">
                                        <a href data-ng-click="openModalCreate(materiasModel)">
                                            <i class="glyphicon glyphicon-education"></i> Materia</a>
                                    </li>
                                    <li ng-controller="GradoDocenteController"><a href
                                                                                  data-ng-click="openModalCreate(grado_docente_model)">
                                        <i class="glyphicon glyphicon-grain"></i> Grado docente</a></li>
                                </ul>
                            </li>
                            <!--<li role="presentation"><a href="" ng-click="show_preview_payroll()">-->
                                <!--<span class="glyphicon glyphicon-print"></span> Vista previa</a>-->
                            <!--</li>-->
                            <li role="presentation">
                                <a href=""
                                   ng-click="refresh_params_nueva_planilla()">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                    Actualizar
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <hr>
            <div class="table-filters">
                <table id="tab0" class="payroll table_add" style="min-width: 100%">
                    <thead>
                    <tr>
                        <th colspan="13">
                            <h4>NUEVO REGISTRO DE PLANILLAS</h4>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="13">
                            <div class="row">
                                <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                                    <div class="pull-left">Seleccione carrera:</div>
                                    <select class="form-control input-sm pull-left"
                                            ng-model="nueva_planilla.especialidad"
                                            data-ng-disabled="!enable_nueva_planilla_fields.especialidad"
                                            ng-options="es.id as es.name for es in GLOBALS.ESPECIALIDADES"
                                            required>
                                    </select>
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Apellidos y Nombres</th>
                        <th>CI</th>
                        <th>Cuenta BU</th>
                        <th>Grado</th>
                        <th>Materia</th>
                        <th>Tipo</th>
                        <th>Horas semanales</th>
                        <th>Categoria</th>
                        <th>Factura</th>
                        <th>Tipo de pago</th>
                        <th>Metodo Académico</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-px-250 edit select">
                            <!--<span></span>-->
                            <!--suppress HtmlUnknownAttribute -->
                            <ui-select ng-model="tmp.tmp_docente"
                                       title="Seleccione docente"
                                       class="add_height45"
                                       data-ng-change="nueva_planilla.docente = tmp.tmp_docente.id;
                                                   tmp.docente = tmp.tmp_docente;
                                                   setInfoDocente(tmp.tmp_docente)">
                                <!--suppress HtmlUnknownAttribute -->
                                <ui-select-match placeholder="Seleccione docente">
                                    {{$select.selected.nombres + ' '+$select.selected.ap_paterno
                                    +' '+$select.selected.ap_materno }}
                                </ui-select-match>
                                <!--suppress HtmlUnknownAttribute -->
                                <ui-select-choices
                                    refresh="searchCustomDocente($select.search)" refresh-delay="300"
                                    repeat="docente in custom_list_docente">
                                    <div
                                        ng-bind-html="(docente.nombres + ' '+ docente.ap_paterno+' '+docente.ap_materno  ) | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td class="col-3 text-center">
                            <input
                                class="fullWidth"
                                data-ng-class="tmp.docente.ci ? 'input-preselected':''"
                                placeholder="Carnet"
                                ng-value="tmp.docente.ci"
                                disabled>
                        </td>
                        <td class="col-3 edit">
                            <input class="fullWidth"
                                   ng-disabled="nueva_planilla_disabled['cuenta_bancaria']"
                                   ng-model="nueva_planilla.cuenta_bancaria"
                                   placeholder="Cuenta BU">
                        </td>
                        <td class="col-px-80 edit">
                            <select class="fullWidth" ng-model="nueva_planilla.grado"
                                    data-ng-disabled="nueva_planilla_disabled['grado']"
                                    ng-options="grad.id as grad.name for grad in GLOBALS.GRADOS_DOCENTE">
                            </select>
                        </td>
                        <td class="col-7 edit select">
                            <ui-select ng-model="tmp_materia" theme="bootstrap"
                                       title="Seleccione materia"
                                       class="add_height45"
                                       search-enabled="true"
                                       ng-change="nueva_planilla.materia = tmp_materia.id">
                                <ui-select-match placeholder="Seleccione materia">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices refresh="searchCustomMatter($select.search)"
                                                   refresh-delay="300"
                                                   repeat="mat in custom_list_materias">
                                    <div ng-bind-html="mat.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                        <td class="col-px-80 edit">
                            <select class="fullWidth" ng-model="nueva_planilla.tipo"
                                    ng-options="tipo.id as tipo.name for tipo in GLOBALS.TIPOS_DOCENCIA"
                                    placeholder="Tipo">
                            </select>
                        </td>
                        <td class="col-px-70 edit">
                            <select class="fullWidth" ng-model="nueva_planilla.horas_semanales"
                                    ng-options="hrs.id as hrs.name for hrs in GLOBALS.TIEMPOS_CARGA_HORARIA"
                                    required>
                            </select>
                        </td>
                        <td class="col-px-70 edit">
                            <select class="fullWidth" ng-model="nueva_planilla.categoria"
                                    ng-disabled="nueva_planilla_disabled['categoria']"
                                    ng-options="cat.id as cat.name for cat in GLOBALS.TIPOS_CATEGORIAS">
                            </select>
                        </td>
                        <td class="col-15">
                            <select class="fullWidth" ng-model="nueva_planilla.factura"
                                    data-ng-disabled="nueva_planilla_disabled['factura']"
                                    ng-options="tipo.id as tipo.name for tipo in GLOBALS.FACTURA_ITEMS"
                                    required>
                            </select>
                        </td>
                        <td class="col-15">
                            <select class="fullWidth" ng-model="nueva_planilla.tipo_pago"
                                    data-ng-disabled="nueva_planilla_disabled['tipo_pago']"
                                    ng-options="pag.id as pag.name for pag in GLOBALS.TIPO_PAGO"
                                    required>
                            </select>
                        </td>
                        <td class="col-px-80">
                            <select class="fullWidth" ng-model="nueva_planilla.pensul"
                                    data-ng-disabled="nueva_planilla_disabled['pensul']"
                                    ng-options="fac.id as fac.name for fac in GLOBALS.PENSUL"
                                    required>
                            </select>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="13" class="text-center">
                            <button class="btn btn-success btn-sm"
                                    ng-click="guardar_nueva_planilla(nueva_planilla)"
                                    title="Guardar">
                                <i class="glyphicon glyphicon-save"></i> Guardar nuevo registro a planillas
                            </button>

                            <button class="btn btn-warning btn-sm"
                                    ng-click="load_init_params()" title="Limpiar">
                                <i class="glyphicon glyphicon-alert"></i> Limpiar campos
                            </button>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <ng-include src="'views/payroll_table/payroll_table.html'"></ng-include>
        </div>
    </div>
</div>
