<div ng-controller="GestionoldCtrl">
    <div class="container-sheets" ng-controller="PayrollController" >
        <div id="sheets">
            <nav id="menu-toolbar">
                <div class="block-menu icon">
                    <label class="inline-block">
                        <img src="images/payroll-icon.png"
                             title="EMI">
                    </label>
                </div>
                <div class="block-menu titles">
                    <div class="menu-title">
                        <h3 class="inline-block"
                            data-ng-bind="'Planillas de pago '">
                        </h3>
                        <h5 class="inline-block" ng-bind="filters.periodo_gestion + ' '+ filters.gestion"></h5>
                    </div>
                    <div class="menu-items">
                        <ul class="nav nav-pills">
                            <li role="presentation"><a href="" ng-click="show_preview_payroll()">
                                <span class="glyphicon glyphicon-print"></span> Vista previa</a>
                            </li>
                            <li role="presentation">
                                <a href="" ng-click="refresh_payroll()">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                    Actualizar
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <hr>
            <div ng-include="'views/Payroll.html'"></div>
        </div>
    </div>
</div>
