<div ng-controller="VerplanillaCtrl">
  <div class="panel panel-success">
    <div class="panel-heading text-center text-uppercase">
      <h4>Historial de planillas<small></small>
      </h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12" ng-init="generarPlanilla(1)">
          <div class="form-horizontal row">
            <div class="form-group-sm">
              <div class="col-sm-2">
                <p class="">Unidad Academica</p>
                <label ng-if="!GF.isRoot()" ng-init="filters.filter_unidad_academica = GF.getUnidadAcademicaId()">{{GF.getUser().UnidadAcademica}}</label>
                <select ng-if="GF.isRoot()" class="form-control input-sm" ng-model="filters.filter_unidad_academica"
                        ng-change="generarPlanilla(1)">
                  <option value=""> -- Todos las unidades --</option>
                  <option ng-repeat="carrera in GLOBALS.UNIDADES_ACADEMICAS" value="{{carrera.idUnidadAcademica}}">
                    {{carrera.UnidadAcademica}}
                  </option>
                </select>
              </div>
              <div class="col-sm-2">
                <p class="">Carrera</p>
                <label ng-if="!(GF.isAdmin() || GF.isRoot())" ng-init="filters.filter_carrera = GF.getEspecialidadId()">{{GF.getEspecialidadName()}}</label>
                <select ng-if="GF.isAdmin() || GF.isRoot()" class="form-control" ng-model="filters.filter_carrera"
                        ng-change="generarPlanilla(1)">
                  <option value=""> -- Todos --</option>
                  <option ng-repeat="carrera in GLOBALS.ESPECIALIDADES" value="{{carrera.idEspecialidad}}">
                    {{carrera.Especialidad}}
                  </option>
                </select>
              </div>

              <div class="col-sm-1">
                <p class="">Gestion</p>
                <select class="form-control" ng-model="filters.filter_Gestion" ng-change="generarPlanilla(1)">
                  <option>2015</option>
                  <option>2016</option>
                  <option>2017</option>
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                </select>
              </div>
              <div class="col-sm-1">
                <p class="">Periodo</p>
                <select class="form-control" ng-model="filters.filter_idPeriodoGestion" ng-change="generarPlanilla(1)">
                  <option value="1" selected>I</option>
                  <option value="2">II</option>
                </select>
              </div>


              <div class="col-sm-3">
                <p class="">Docente</p>
                <ui-select tagging tagging-label="('new')" ng-model="filtersObjects.filter_docente" theme="bootstrap"
                           title="Seleccione docente" ng-change="generarPlanilla(1)">
                  <ui-select-match allow-clear="true" placeholder="-- Todos --">{{$select.selected.Docente}}
                  </ui-select-match>
                  <ui-select-choices repeat="docente in GLOBALS.LISTA_CUSTOM_DOCENTES | filter: $select.search">
                    <div ng-bind-html="docente.Docente | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="col-sm-3">
                <p class="">Materia</p>
                <ui-select tagging tagging-label="('new')" ng-model="filtersObjects.filter_materia" theme="bootstrap"
                           title="Seleccione materia" ng-change="generarPlanilla(1)">
                  <ui-select-match allow-clear="true" placeholder="-- Todos --">{{$select.selected.Materia}}
                  </ui-select-match>
                  <ui-select-choices repeat="materia in GLOBALS.LISTA_CUSTOM_MATERIAS | filter: $select.search">
                    <div ng-bind-html="materia.Materia | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="col-sm-2">
                <p class="">Factura</p>
                <select class="form-control" ng-model="filters.filter_factura" ng-change="generarPlanilla(1)">
                  <option value=""> -- Todos --</option>
                  <option ng-repeat="tipo in GLOBALS.FACTURA_ITEMS" value="{{tipo.id}}">{{tipo.name}}</option>
                </select>
              </div>
              <!--<div class="col-sm-2">
                <p class="">Tipo</p>
                <select class="form-control" ng-model="filter_tipo">
                  <option  value="" > -- Todos --</option>
                  <option ng-repeat="tipo in GLOBALS.TIPOS_DOCENCIA" value="{{tipo.name}}">
                    {{tipo.name}}
                  </option>
                </select>
              </div>-->

              <div class="col-sm-2">
                <p class="">Categoria</p>
                <select class="form-control" ng-model="filters.filter_category" ng-change="generarPlanilla(1)">
                  <option value="" selected> -- Todos --</option>
                  <option ng-repeat="cat in GLOBALS.TIPOS_CATEGORIAS" value="{{cat.name}}">{{cat.name}}</option>
                </select>
              </div>
            </div>
            <br>

            <div class="form-group-sm">
              <div class="col-sm-2">
                <p>Numero de Semanas</p>
                <select class="form-control sm" ng-model="filters.NUMERO_SEMANAS"
                        ng-init="filters.NUMERO_SEMANAS = NUMERO_SEMANAS_DISPONIBLE[0];filters.filter_HEADER_PLANILLA = 'A '+filters.NUMERO_SEMANAS+' Semanas'"
                        ng-change="filters.filter_HEADER_PLANILLA = 'A '+filters.NUMERO_SEMANAS+' Semanas';generarPlanilla(1)">
                  <option ng-repeat="num in NUMERO_SEMANAS_DISPONIBLE" value="{{num}}"
                    >{{num+' Semanas'}}
                  </option>
                </select>
              </div>
              <div class="col-sm-4">
                <p>Reportes</p>
                <button class="btn  btn-info btn-sm" ng-click="generarPlanilla(1)">
                  <i class="glyphicon glyphicon-refresh"> Refrescar</i>
                </button>
                <div class="btn-group" dropdown>
                  <button class="btn  btn-success btn-sm" ng-click="generarReportePlanilla()">
                    <i class="glyphicon glyphicon-list"></i> Vista Previa Reporte PDF
                    </button>
                </div>
              </div>

            </div>
          </div>
          <!--<small>Planilla autogenerada de 1 Semana</small>-->
          <div class="table-planillas-f">
            <table class="table-planillas-f">
              <thead>
              <tr>
                <th rowspan="2" class="tN">N</th>
                <th rowspan="2" class="tCi">CI</th>
                <th rowspan="2" class="tCuenta">Cuenta BU</th>
                <th rowspan="2" class="tGrado rotate90">Grado</th>
                <th rowspan="2" class="tNombres">Apellidos y Nombres</th>
                <th ng-show="GF.isAdmin()" rowspan="2" class="tCarrera">Carrera</th>
                <th rowspan="2" class="tMateria">Materia</th>
                <th rowspan="2" class="tTipo">Tipo</th>
                <th rowspan="2" class="tHoras rotate90">Horas<br>Sem.</th>
                <th rowspan="2" class="tCategoria rotate90">Cat.</th>
                <th colspan="{{filters.SHOW_REINTEGRO?4:3}}">Ingresos</th>
                <th rowspan="2" class="tAtrasos rotate90">Atrasos<br>Periodos</th>
                <th rowspan="2" class="tNumber">TOTAL</th>
                <th colspan="3">Egresos</th>
                <th rowspan="2" class="tFactura rotate90">Factura</th>
                <th rowspan="2">Liquido Pagable</th>
                <!--<th rowspan="2"></th>-->
              </tr>
              <tr>
                <th class="tNumber">Monto</th>
                <th class="tNumber">Total1</th>
                <th class="tReintegro" ng-show="filters.SHOW_REINTEGRO"><span>Reintegro</span></th>
                <th class="tNumber">Total2</th>
                <th class="tNumber text-center">I.U.</th>
                <th class="tNumber text-center">I.T.</th>
                <th class="tNumber text-center">Total</th>
              </tr>
              </thead>
              <tbody>

              <tr ng-repeat="docente in planillas_listing_page.items">
                <td class="tN" ng-bind="filters.items_for_page*(planillas_listing_page.page-1)+$index+1"></td>
                <td class="tCi" ng-bind="docente.CI"></td>
                <td class="tCuenta"><span>{{docente.CuentaBancaria || "--"}}</span></td>
                <td class="tGrado" ng-bind="docente.Grado||'-'"></td>
                <td class="tNombres"><span ng-bind="docente.Nombres||'--' "></span></td>
                <td class="tCarrera" ng-show="GF.isAdmin()" ng-bind="((docente.Especialidad) | ingenieria)||'--'"></td>
                <td class="tMateria"><span>{{docente.Materia||"-"}}</span></td>
                <td class="tTipo"><span>{{docente.Tipo||"-"}}</span></td>
                <td class="tHoras"><span>{{docente.HorasSemanales||"-"}}</span></td>
                <td class="tCategoria"><span>{{docente.Categoria||"-"}}</span></td>
                <td class="tNumber" ng-bind="(docente.Monto|mountC)||'-'"></td>
                <td class="tNumber" ng-bind="(docente.Total_1|mountC)||'-'"></td>
                <td class="tReintegro" ng-show="filters.SHOW_REINTEGRO"><span>{{(docente.Reintegro|mountC)||'-'}}</span></td>
                <td class="tNumber" ng-bind="(docente.Total_2|mountC)||'-'"></td>
                <td class="tAtrasos"><span>{{(docente.Atrasos_Periodos||0)|mountC}}</span></td>
                <td class="tNumber" ng-bind="(docente.Total_3|mountC)||'-'"></td>
                <td class="tNumber" ng-bind="(docente.IU|mountC)||'-'"></td>
                <td class="tNumber" ng-bind="(docente.IT|mountC)||'-'"></td>
                <td class="tNumber" ng-bind="(docente.Total_4|mountC)||'-'"></td>
                <td class="tFactura"><span>{{docente.Factura?"Si":"No"}}</span></td>
                <td class="tLiquido" ng-bind="(docente.LiquidoPagable|mountC)||'-'"></td>
              </tr>
              </tbody>
            </table>
            <div ng-hide="planillas_listing_page.items" class="text-center">-- No se Encontro Resultados --
            </div>
          </div>




          <div>
            <a href="" ng-click="exportData()">Descargar Reporte</a>
            <div id="exportableReport" style="display: none">
              <div class="row center">
                <h1>Planillas</h1>
              </div>
              <table class="table-planillas-f" border="2px">
                <thead>
                <tr>
                  <th rowspan="2" class="tN">N</th>
                  <th rowspan="2" class="tCi">CI</th>
                  <th rowspan="2" class="tCuenta">Cuenta BU</th>
                  <th rowspan="2" class="tGrado rotate90">Grado</th>
                  <th rowspan="2" class="tNombres">Apellidos y Nombres</th>
                  <th ng-show="GF.isAdmin()" rowspan="2" class="tCarrera">Carrera</th>
                  <th rowspan="2" class="tMateria">Materia</th>
                  <th rowspan="2" class="tTipo">Tipo</th>
                  <th rowspan="2" class="tHoras rotate90">Horas<br>Sem.</th>
                  <th rowspan="2" class="tCategoria rotate90">Cat.</th>
                  <th colspan="{{filters.SHOW_REINTEGRO?4:3}}">Ingresos</th>
                  <th rowspan="2" class="tAtrasos rotate90">Atrasos<br>Periodos</th>
                  <th rowspan="2" class="tNumber">TOTAL</th>
                  <th colspan="3">Egresos</th>
                  <th rowspan="2" class="tFactura rotate90">Factura</th>
                  <th rowspan="2">Liquido Pagable</th>
                  <!--<th rowspan="2"></th>-->
                </tr>
                <tr>
                  <th class="tNumber">Monto</th>
                  <th class="tNumber">Total1</th>
                  <th class="tReintegro" ng-show="filters.SHOW_REINTEGRO"><span>Reintegro</span></th>
                  <th class="tNumber">Total2</th>
                  <th class="tNumber text-center">I.U.</th>
                  <th class="tNumber text-center">I.T.</th>
                  <th class="tNumber text-center">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="docente in planillas_listing_page_exel">
                  <td class="tN" ng-bind="filters.items_for_page*(planillas_listing_page.page-1)+$index+1"></td>
                  <td class="tCi" ng-bind="docente.CI"></td>
                  <td class="tCuenta"><span>{{docente.CuentaBancaria || "--"}}</span></td>
                  <td class="tGrado" ng-bind="docente.Grado||'-'"></td>
                  <td class="tNombres"><span ng-bind="docente.Nombres||'--' "></span></td>
                  <td class="tCarrera" ng-show="GF.isAdmin()" ng-bind="((docente.Especialidad) | ingenieria)||'--'"></td>
                  <td class="tMateria"><span>{{docente.Materia||"-"}}</span></td>
                  <td class="tTipo"><span>{{docente.Tipo||"-"}}</span></td>
                  <td class="tHoras"><span>{{docente.HorasSemanales||"-"}}</span></td>
                  <td class="tCategoria"><span>{{docente.Categoria||"-"}}</span></td>
                  <td class="tNumber" ng-bind="(docente.Monto|mountC)||'-'"></td>
                  <td class="tNumber" ng-bind="(docente.Total_1|mountC)||'-'"></td>
                  <td class="tReintegro" ng-show="filters.SHOW_REINTEGRO"><span>{{(docente.Reintegro|mountC)||'-'}}</span></td>
                  <td class="tNumber" ng-bind="(docente.Total_2|mountC)||'-'"></td>
                  <td class="tAtrasos"><span>{{(docente.Atrasos_Periodos||0)|mountC}}</span></td>
                  <td class="tNumber" ng-bind="(docente.Total_3|mountC)||'-'"></td>
                  <td class="tNumber" ng-bind="(docente.IU|mountC)||'-'"></td>
                  <td class="tNumber" ng-bind="(docente.IT|mountC)||'-'"></td>
                  <td class="tNumber" ng-bind="(docente.Total_4|mountC)||'-'"></td>
                  <td class="tFactura"><span>{{docente.Factura?"Si":"No"}}</span></td>
                  <td class="tLiquido" ng-bind="(docente.LiquidoPagable|mountC)||'-'"></td>
                </tr>
                </tbody>

              </table>
            </div>

            <div id="exportable" style="display: none">
              <div class="row center">
                <h1>Planillas</h1>
              </div>
              <table class="table-planillas-f">
                <thead>
                <tr>
                  <th rowspan="2" class="tN">N</th>
                  <th rowspan="2" class="tCi">CI</th>
                  <th rowspan="2" class="tCuenta">Cuenta BU</th>
                  <th rowspan="2" class="tGrado rotate90">Grado</th>
                  <th rowspan="2" class="tNombres">Apellidos y Nombres</th>
                  <th ng-show="GF.isAdmin()" rowspan="2" class="tCarrera">Carrera</th>
                  <th rowspan="2" class="tMateria">Materia</th>
                  <th rowspan="2" class="tTipo">Tipo</th>
                  <th rowspan="2" class="tHoras rotate90">Horas<br>Sem.</th>
                  <th rowspan="2" class="tCategoria rotate90">Cat.</th>
                  <th colspan="3">Ingresos</th>
                  <th rowspan="2" class="tAtrasos rotate90">Atrasos<br>Periodos</th>
                  <th rowspan="2" class="tNumber">TOTAL</th>
                  <th colspan="3">Egresos</th>
                  <th rowspan="2" class="tFactura rotate90">Factura</th>
                  <th rowspan="2">Liquido Pagable</th>
                  <!--<th rowspan="2"></th>-->
                </tr>
                <tr>
                  <th class="tNumber">Monto</th>
                  <th class="tNumber">Total1</th>
                  <th class="tNumber">Total2</th>
                  <th class="tNumber text-center">I.U.</th>
                  <th class="tNumber text-center">I.T.</th>
                  <th class="tNumber text-center">Total</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="docente in planillas_listing_page_exel">
                  <td class="tN" ng-bind="filters.items_for_page*(planillas_listing_page.page-1)+$index+1"></td>
                  <td class="tCi" ng-bind="docente.CI"></td>
                  <td class="tCuenta"><span>{{docente.CuentaBancaria || "--"}}</span></td>
                  <td class="tGrado" ng-bind="docente.Grado||'-'"></td>
                  <td class="tNombres"><span ng-bind="docente.Nombres||'--' "></span></td>
                  <td class="tCarrera" ng-show="GF.isAdmin()" ng-bind="((docente.Especialidad) | ingenieria)||'--'"></td>
                  <td class="tMateria"><span>{{docente.Materia||"-"}}</span></td>
                  <td class="tTipo"><span>{{docente.Tipo||"-"}}</span></td>
                  <td class="tHoras"><span>{{docente.HorasSemanales||"-"}}</span></td>
                  <td class="tCategoria"><span>{{docente.Categoria||"-"}}</span></td>
                  <td class="tNumber" ng-bind="(docente.Monto|mountC)||'-'"></td>
                  <td class="tNumber" ng-bind="(docente.Total_1|mountC)||'-'"></td>
                  <td class="tNumber" ng-bind="(docente.Total_2|mountC)||'-'"></td>
                  <td class="tAtrasos"><span>{{(docente.Atrasos_Periodos||0)|mountC}}</span></td>
                  <td class="tNumber" ng-bind="(docente.Total_3|mountC)||'-'"></td>
                  <td class="tNumber" ng-bind="(docente.IU|mountC)||'-'"></td>
                  <td class="tNumber" ng-bind="(docente.IT|mountC)||'-'"></td>
                  <td class="tNumber" ng-bind="(docente.Total_4|mountC)||'-'"></td>
                  <td class="tFactura"><span>{{docente.Factura?"Si":"No"}}</span></td>
                  <td class="tLiquido" ng-bind="(docente.LiquidoPagable|mountC)||'-'"></td>
                </tr>
                </tbody>

              </table>
            </div>

          </div>

          <div class="col-sm-1">
            <p>**Filas por Pagina {{filters.items_for_page}}</p>
            <select ng-options="paginas for paginas in NUMERO_PAGINACION" ng-model="filters.items_for_page"
                    ng-init="filters.items_for_page = 20 " ng-change="generarPlanilla(1,filters.items_for_page)"></select>
          </div>

          <nav>
            <ul class="pagination">
              <li>
                <a aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li ng-repeat="num in planillas_pages">
                <a href="" ng-click="generarPlanilla($index+1,filters.items_for_page)">{{ $index +1 }}</a>
              </li>
              <li>
                <a aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>




    </div>
    <div class="panel-footer"></div>
  </div>

</div>
