<div ng-controller="LoginCtrl" style="width: 100%;text-align: CENTER;">
    <div>
        <div class="login">
            <div class="login-header">
                <h2>SISTEMA DE PLANILLAS</h2>
                <h4>ESCUELA MILITAR DE INGENIERIA</h4>
                <!--<img src="images/emi.png" align="center">-->
            </div>
            <div class="login-body">
                <form id="form_login" name="form_login" ng-init="user = {}" ng-submit="">
                    <div class="form-group">
                        <label>NOMBRE DE USUARIO</label>

                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input class="form-control input-lg" type="text" placeholder="USUARIO" ng-model="user.name"
                                   required>
                            <!--<input class="form-control input-lg" type="text" placeholder="USUARIO" ng-model="user.name" ng-init="user.name = 'admin'" >-->
                        </div>
                    </div>

                    <div class="form-group">
                        <label>CONTRASEÑA</label>

                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input class="form-control input-lg" type="password" placeholder="CONTRASEÑA"
                                   ng-model="user.password" required>
                            <!--<input class="form-control input-lg" type="password" placeholder="CONTRASEÑA" ng-model="user.password" ng-init="user.password = 'admin'" >-->
                        </div>
                    </div>
                </form>
                <a href="" ng-click="openModalRestartPassword()">Olvido su contraseña?</a>
            </div>
            <div class="login-footer">
                <label for="form_login">
                    <button type="submit" ng-click="login(user)" class="btn btn-lg btn-success">Ingresar</button>
                </label>
            </div>
        </div>
    </div>
</div>
