<div ng-controller="UsuariosCtrl">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading center">
        <label class="panel-title text-uppercase">Lista de Materias</label>
        <div class="pull-right" ng-show="!GF.isSecre()">
          <button class="btn btn-success btn-sm" ng-click="openModalNewMateria()">
            <span class="glyphicon glyphicon-plus"></span>
            Agregar nueva materia
          </button>
        </div>
      </div>
      <div class="panel-body">
        <div class="form-group-sm">
          <div class="col-sm-7 FZ13">
            <p class="">Nombre de materia</p>
            <div class="col-sm-7" ng-init="filter_materia = {}">
              <input class="form-control" ng-model="filter_materia.Materia" placeholder="Buscar materia">
              <!--<ui-select tagging tagging-label="('new')" ng-model="filter_materia.Materia">
                <ui-select-match allow-clear="true" placeholder="Buscar materia"><span class="FZ13">{{$select.selected.Materia}}</span></ui-select-match>
                <ui-select-choices repeat="mat in GLOBALS.LISTA_MATERIAS | filter: $select.search">
                  <div ng-bind-html="mat.Materia | highlight: $select.search" class="FZ13"></div>
                </ui-select-choices>
              </ui-select>-->
            </div>
          </div>
        </div>
      </div>
      <table class="table table-bordered table-hover FZ13">
        <thead>
        <tr>
          <th  class="text-center">N</th>
          <th  class="text-center">Nombre</th>
          <th  class="text-center" ng-if="!GF.isSecre()">Modificar</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="materia in GLOBALS.LISTA_MATERIAS | filter:filter_materia.Materia">
          <td>{{$index+1}}</td>
          <td>{{materia.Materia}}</td>
          <td ng-if="!GF.isSecre()">
            <button class="btn btn-primary btn-sm" ng-click="openModalNewMateria(materia)" tooltip="Editar materia"><span class="glyphicon glyphicon-edit"></span></button>
            <button class="btn btn-danger btn-sm" ng-click="eliminarMateria(materia)" tooltip="Eliminar materia"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
