<!--suppress ALL -->
<div ng-controller="MenuCtrl" id="menu">
    <nav id="menuBar" class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://www.emi.edu.bo" target="_blank">
                <img src="images/emi.png" class="iconLogo">
            </a>
            <a class="navbar-brand center-block text-center">
                <spam ng-if="CURRENT_USER['gestion']">{{GF.getFullGestionNamme()}}</spam>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav ">
                <li>
                    <a href="#/Gestion"><i class="glyphicon glyphicon-dashboard"></i>
                        Gestión Académica</a>
                </li>

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="glyphicon glyphicon-list"></i> Planillas <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-if="(GF.isJefeCarrera() || GF.isAdmin())&& CURRENT_USER['gestion']">
                            <a href="#/RegistrarPlanilla">
                                <i class="glyphicon glyphicon-list"></i><span class="">  Registrar Planillas</span></a>
                        </li>
                        <li ng-if="CURRENT_USER['gestion']"><a href="#/GenerarPlanilla">
                            <i class="glyphicon glyphicon-list"></i>
                            <span>  Generar Planillas</span></a>
                        </li>

                        <li ng-if="CURRENT_USER['gestion']"><a href="#/Contratos">
                            <i class="glyphicon glyphicon-list"></i>
                            <span>  Contratos</span></a>
                        </li>

                        <li ng-if="CURRENT_USER['gestion']"><a href="#/Pagos_realizados">
                            <i class="glyphicon glyphicon-list"></i>
                            <span>  Pagos realizados</span></a>
                        </li>

                        <li ng-if="CURRENT_USER['gestion']"><a href="#/Facturacion">
                            <i class="glyphicon glyphicon-list"></i>
                            <span>  Facturación</span></a>
                        </li>

                        <li ng-if="CURRENT_USER['gestion']"><a href="#/Seguimiento">
                            <i class="glyphicon glyphicon-list"></i>
                            <span>  Seguimiento</span></a>
                        </li>


                        <li><a href="#/Reportes"><i class="glyphicon glyphicon-file"></i><span> Reportes</span></a>
                        </li>
                        <li ng-if="!GF.isSecretaria()">
                            <a href="#/Gestion/Old"><i class="glyphicon glyphicon-th-list"></i><span class=""> Historial de Planillas</span></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="glyphicon glyphicon-list-alt"></i> <span class="hidden-sm"> Listas </span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-if="!GF.isSecretaria()">
                            <a href="#/Usuarios"><i class="glyphicon glyphicon-user"></i> Usuarios</a>
                        </li>
                        <li><a href="#/Docentes"><i class="glyphicon glyphicon-list"></i> Docentes</a></li>
                        <li><a href="#/Materias"><i class="glyphicon glyphicon-list"></i> Materias</a></li>
                        <li><a href="#/Carreras"><i class="glyphicon glyphicon-list"></i> Carreras</a></li>
                        <li><a href="#/GradoDocentes"><i class="glyphicon glyphicon-list"></i> Grados de docentes</a>
                        </li>
                        <!--<li><a href="" ng-click="openModalNewDocente()"><i class="glyphicon glyphicon-user"></i> Agregar docente</a></li>-->
                    </ul>
                </li>

                <li class="dropdown" ng-if="CURRENT_USER['gestion']">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="glyphicon glyphicon-list"></i> <span class="hidden-sm">Datos de pago</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="" ng-click="openModalDatosPago()"><i class="glyphicon glyphicon-list-alt"></i>
                            Información</a></li>
                        <li ng-if="GF.isRoot() || GF.isAdmin()">
                            <a href="" ng-click="openModalUpdateMonto()">
                                <i class="glyphicon glyphicon-list"></i> Modificar montos de pago</a>
                        </li>
                    </ul>
                </li>
                <li ng-if="!GF.isSecretaria()">
                    <a href="#/Sincronizacion"> <i class="glyphicon glyphicon-arrow-up"></i>
                        <span class="hidden-sm"> Sincronización</span>
                    </a>
                </li>
                <li ng-if="GF.isAdmin() || GF.isRoot()">
                    <a href="#/EliminarRegistros"> <i class="glyphicon glyphicon-warning-sign"></i>
                        <span class="hidden-sm hidden-md"> Registros</span>
                    </a>
                </li>
                <li ng-if="GF.isRoot()"><a href="#/queryBuild"><i class="glyphicon glyphicon-warning-sign"></i>Query</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i>
                        <span class="hidden-sm hidden-md"> {{' '+GF.getFullName()}} </span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="" ng-click="openModalProfile()">
                                <i class="glyphicon glyphicon-user"></i>
                                Perfil de usuario</a>
                        </li>
                        <li><a href="" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Salir</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="openModalAbout()">
                    <i class="glyphicon glyphicon-education"></i> <span
                    class="hidden-sm hidden-md hidden-lg">Acerca de </span> </a></li>
            </ul>
        </div>
    </nav>
</div>
