<div ng-controller="MenuCtrl">
  <nav id="menuBar" class="navbar navbar-inverse">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.emi.edu.bo" target="_blank">
          <img src="images/emi.png" class="iconLogo">
        </a>
        <a class="navbar-brand center-block text-center">
          <!--<spam ng-bind="' Gestion '+ ((GLOBALS.GESTIONES_ACADEMICAS.gestion_actual[0].idPeriodoGestion==1)?' I - ':' II - ')+GLOBALS.GESTIONES_ACADEMICAS.gestion_actual[0].Gestion"></spam>-->
          <!--<spam>I - 2015 {{USER_CURRENT.tipo}}</spam>-->
          <spam>I - 2015</spam>

        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav ">
          <li><a href="" ng-click="menuSet_GestionAcademica()"><i class="glyphicon glyphicon-dashboard"></i> Gestion
            Academica</a></li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
              class="glyphicon glyphicon-list"></i> Planillas <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li ng-if="!GF.isSecre()"><a href="" ng-click="menuSet_PlanillasGenerar()"><i
                class="glyphicon glyphicon-list"></i><span class="">  Generar Planilla</span></a></li>
              <li><a href="" ng-click="menuSet_PlanillasUpdates()"><i class="glyphicon glyphicon-list"></i><span
                class="">  Ver Planilla Docentes Pregrado</span></a></li>
              <li><a href="" ng-click="menuSet_Reportes()"><i class="glyphicon glyphicon-file"></i><span class="">  Reportes</span></a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
              class="glyphicon glyphicon-user"></i> Usuarios <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="menuSet_PlanillasUsuarios()"><i class="glyphicon glyphicon-user"></i><span
                class="hidden-sm hidden-md">  Lista de usuarios</span></a></li>
              <li ng-if="!GF.isSecre()"><a href="" ng-click="openModalNewDocente()"><i
                class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-md">  Agregar docente</span></a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
              class="glyphicon glyphicon-list"></i> Datos de pago <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="openModalDatosPago()"><i class="glyphicon glyphicon-list-alt"></i><span
                class="hidden-sm hidden-md">  Informacion</span></a></li>
              <li ng-if="GF.isAdmin()"><a href="" ng-click="openModalUpdateMonto()"><i
                class="glyphicon glyphicon-list"></i><span class="hidden-sm hidden-md">  Modificar montos de pago</span></a>
              </li>
            </ul>
          </li>
          <li ng-if="!GF.isSecre()"><a href="" ng-click="menuSet_Sincronizacion()"><i
            class="glyphicon glyphicon-arrow-up"></i> <span class="hidden-sm hidden-md"> Sincronizacion</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
              class="glyphicon glyphicon-user"></i> <span
              class="hidden-sm hidden-md"> {{' '+GF.getFullName()}} </span><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="" ng-click="openModalProfile()">
                  <i class="glyphicon glyphicon-user"></i>
                  Perfil de usuario</a>
              </li>
              <li><a href="" ng-click="logout()"><i class="glyphicon glyphicon-log-out"></i> Salir</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-md hidden-sm">
          <li><a href="" ng-click="openModalAbout()"><i class="glyphicon glyphicon-education"></i> <span
            class="hidden-sm hidden-md hidden-lg">About </span> </a></li>
        </ul>
      </div>
  </nav>
</div>
