<div ng-controller="SincronizacionCtrl">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading text-center text-uppercase">
                SINCRONIZACIÓN
            </div>
            <div class="panel-body">
                <uib-tabset>
                    <uib-tab heading="Docentes">
                        <div class="inline-block">
                            Desde Archivo (.csv):
                        </div>
                        <div class="inline-block">
                            <ng-csv-import content="csv.content"
                                           header="csv.header"
                                           separator="csv.separator"
                                           result="csv.resultDocentes"
                                           encoding="csv.encoding"
                                           accept="csv.accept"></ng-csv-import>
                        </div>
                        <div class="inline-block">
                            <button class="btn btn-info" ng-click="sincronizar_docentes(csv.resultDocentes)"><span
                                class="glyphicon glyphicon-refresh"></span> Sincronizar
                            </button>
                        </div>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Apellido Materno</th>
                                <th>Apellido Paterno</th>
                                <th>Nombres</th>
                                <th>Ci</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="docente in csv.resultDocentes">
                                <td><span ng-bind="$index+1"></span></td>
                                <td><span ng-bind="docente['id']"></span></td>
                                <td><span ng-bind="docente['ap_paterno']"></span></td>
                                <td><span ng-bind="docente['ap_materno']"></span></td>
                                <td><span ng-bind="docente['nombres']"></span></td>
                                <td><span ng-bind="docente['ci']"></span></td>
                                <td><span class="p5"
                                          ng-class="docente.actualizado?'btn-success':(docente.text_error?'btn-danger':'btn-warning')"
                                          ng-bind="docente.actualizado?'Guardado':(docente.text_error || 'Pendiente')">
                                </span></td>
                            </tr>
                            </tbody>
                        </table>
                    </uib-tab>
                    <uib-tab heading="Materias">
                        <div class="inline-block">
                            Desde Archivo (.csv):
                        </div>
                        <div class="inline-block">
                            <ng-csv-import content="csv.content"
                                           header="csv.header"
                                           separator="csv.separator"
                                           result="csv.resultMaterias"
                                           encoding="csv.encoding"
                                           accept="csv.accept"></ng-csv-import>
                        </div>
                        <div class="inline-block">
                            <button class="btn btn-info" ng-click="sincronizar_materias(csv.resultMaterias)"><span
                                class="glyphicon glyphicon-refresh"></span> Sincronizar
                            </button>
                        </div>
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Materia</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="materia in csv.resultMaterias">
                                <td><span ng-bind="$index+1"></span></td>
                                <td><span ng-bind="materia['id']"></span></td>
                                <td><span ng-bind="materia['name']"></span></td>
                                <td><span class="p5"
                                          ng-class="materia.actualizado?'btn-success':(materia.text_error?'btn-danger':'btn-warning')"
                                          ng-bind="materia.actualizado?'Guardado':(materia.text_error || 'Pendiente')">
                                </span></td>
                            </tr>
                            </tbody>
                        </table>

                    </uib-tab>
                    <uib-tab heading="Carreras" ng-if="GF.isAdmin() || GF.isRoot()">
                        <div class="inline-block">
                            Desde Archivo (.csv):
                        </div>
                        <div class="inline-block">
                            <ng-csv-import content="csv.content"
                                           header="csv.header"
                                           separator="csv.separator"
                                           result="csv.resultCarreras"
                                           encoding="csv.encoding"
                                           accept="csv.accept"></ng-csv-import>
                        </div>
                        <div class="inline-block">
                            <button class="btn btn-info" ng-click="sincronizar_especialidades(csv.resultCarreras)"><span
                                class="glyphicon glyphicon-refresh"></span> Sincronizar
                            </button>
                        </div>
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Carrera</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="carrera in csv.resultCarreras">
                                <td><span ng-bind="$index+1"></span></td>
                                <td><span ng-bind="carrera['id']"></span></td>
                                <td><span ng-bind="carrera['name']"></span></td>
                                <td><span class="p5"
                                          ng-class="carrera.actualizado?'btn-success':(carrera.text_error?'btn-danger':'btn-warning')"
                                          ng-bind="carrera.actualizado?'Guardado':(carrera.text_error || 'Pendiente')">
                                </span></td>
                            </tr>
                            </tbody>
                        </table>
                    </uib-tab>
                    <uib-tab class="pull-right text-center">
                        <tab-heading>
                            <span class="glyphicon glyphicon-exclamation-sign"></span> Ayuda
                        </tab-heading>

                        <div class=" alert alert-info">
                            <h4 class=""><b>Descargar ejemplos de archivo:</b></h4>

                            <p class="inline-block">Seleccione: </p>

                            <a href="resources/ejemplo_docente.csv" download class="inline-block" title="Descargar">
                                <b>ejemplo_docentes.csv </b> <i class="glyphicon glyphicon-save-file"></i></a>
                            |
                            <a href="resources/ejemplo_materia.csv" download class="inline-block" title="Descargar">
                                <b>ejemplo_materias.csv </b> <i class="glyphicon glyphicon-save-file"></i></a>
                            |
                            <a href="resources/ejemplo_especialidad.csv" download class="inline-block"
                               title="Descargar">
                                <b>ejemplo_carreras.csv </b> <i class="glyphicon glyphicon-save-file"></i></a>
                        </div>

                        <a class="list-group">
                            <a href="" class="list-group-item ">
                                <h4 class="list-group-item-heading">1. Guardar datos</h4>

                                <p class="list-group-item-text">Guardar lista a sincronizar en formato (.csv)</p>
                            </a>

                            <a href="" class="list-group-item ">
                                <h4 class="list-group-item-heading">2. Selecionar lista</h4>

                                <p class="list-group-item-text">En las pestañas elija el tipo de lista a sincronizar</p>
                            </a>

                            <a href="" class="list-group-item ">
                                <h4 class="list-group-item-heading">3. Sincronizar</h4>

                                <p class="list-group-item-text">Haga click en el boton sincronizar</p>
                            </a>

                            <a href="" class="list-group-item ">
                                <h4 class="list-group-item-heading">4. Verificar</h4>

                                <p class="list-group-item-text">El estado de la sincronizacion por cada fila se mostrara
                                    en la columna de estado</p>
                            </a>
            </div>
            </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
</div>
