<div ng-controller="UsuariosCtrl">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading center">
                <label class="panel-title text-uppercase">Lista de usuarios</label>
                <div class="pull-right" ng-show="!GF.isSecretaria()">
                    <button class="btn btn-success btn-sm" ng-click="openModalNewUsuario()">
                        <span class="glyphicon glyphicon-plus"></span>
                        Agregar nuevo Usuario
                    </button>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group-sm">
                    <div class="col-sm-3">
                        <p class="">Unidad Academica</p>
                        <select class="form-control" ng-model="filter_uuaa" ng-change="loadUsers()"}
                                data-ng-disabled="!enable_fields.unidad_academica"
                                ng-options="uuaa.id as uuaa.name for uuaa in GLOBALS.UNIDADES_ACADEMICAS">
                            <option value="">-- Sin especificar--</option>
                        </select>
                    </div>

                    <div class="col-sm-3">
                        <p class="">Carrera</p>
                        <select class="form-control" ng-model="filter_carrera" ng-change="loadUsers()"
                                data-ng-disabled="!enable_fields.especialidad"
                                ng-options="carrera.id as carrera.name for carrera in GLOBALS.ESPECIALIDADES">
                            <option value="">-- Sin especificar --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <p class="">Nombre de usuario</p>
                        <form ng-submit="loadUsers()">
                            <input class="form-control" type="text" ng-model="filter_nombre"
                                   placeholder="Nombre o carnet">
                        </form>
                    </div>

                    <div class="col-sm-3">
                        <p class="">Tipo de Usuarios</p>
                        <select class="form-control" ng-model="filter_tipo" ng-change="loadUsers()"
                                ng-options="tipo.id as tipo.name for tipo in tipo_usuarios">
                            <option value="">-- Todos --</option>
                        </select>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-hover FZ13">
                <thead>
                <tr>
                    <th class="text-center">N</th>
                    <th class="text-center">Nombre Completo</th>
                    <th class="text-center">Correo</th>
                    <th class="text-center">Unidad<br>Académica</th>
                    <th class="text-center">Especialidad</th>
                    <th class="text-center">Tipo de Usuario</th>
                    <th class="text-center" ng-show="!GF.isSecretaria()"> Modificar</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="usuario in user_data.data"
                    class="{{ CURRENT_USER.id == usuario.id?'active alert-info':''}}">
                    <td>{{$index+1}}</td>
                    <td>{{usuario.nombres+' '+usuario.ap_paterno+' '+usuario.ap_materno}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.unidad_academica.name}}</td>
                    <td>{{usuario.especialidad.name}}</td>
                    <td>{{usuario.tipo_usuario.name}}</td>
                    <td ng-show="!GF.isSecretaria()">
                        <button class="btn btn-primary btn-sm" ng-click="openModalNewUsuario(usuario)"
                                title="Editar cuenta"><span class="glyphicon glyphicon-edit"></span></button>
                        <button class="btn btn-danger btn-sm" ng-click="eliminarUsuario(usuario)"
                                title="Eliminar cuenta"
                                ng-show="CURRENT_USER.id != usuario.id">
                            <span class="glyphicon glyphicon-trash"></span></button>
                        <button class="btn btn-warning btn-sm" ng-click="alta_baja_usuario(usuario,1)"
                                ng-show='usuario.activo=="0" && CURRENT_USER.id != usuario.id' title="Activar cuenta">
                            <span class="glyphicon glyphicon-eye-open"></span></button>
                        <button class="btn btn-info btn-sm" ng-click="alta_baja_usuario(usuario,0)"
                                ng-show='usuario.activo=="1" && CURRENT_USER.id != usuario.id'
                                title="Desactivar cuenta">
                            <span class="glyphicon glyphicon-eye-close"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center">
                <uib-pagination total-items="user_data.total"
                                items-per-page="user_data.per_page"
                                ng-model="currentPage" class="pagination-sm" previous-text="Anterior"
                                ng-change="changePage()"
                                next-text="Siguiente">
                </uib-pagination>
            </div>
            <div ng-show="user_data.data.length<=0" class="center text-center alert-info">-- No se encontraron
                resultados --
            </div>
        </div>
    </div>
</div>
