<div ng-controller="VerplanillaCtrl">
    <div class="container-sheets" ng-controller="PayrollController">
        <div id="sheets">
            <nav id="menu-toolbar">
                <div class="block-menu icon">
                    <label class="inline-block">
                        <img src="images/payroll-icon.png"
                             title="EMI">
                    </label>
                </div>
                <div class="block-menu titles">
                    <div class="menu-title">
                        <h3 class="inline-block"
                            data-ng-bind="'Planillas de pago '">
                        </h3>
                        <h5 class="inline-block" ng-bind="filters.periodo_gestion + ' '+ filters.gestion"></h5>
                    </div>
                    <div class="menu-items">
                        <ul class="nav nav-pills">
                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <span class="glyphicon glyphicon-file"></span> Nuevo <span
                                    class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-controller="DocentesCtrl">
                                        <a href data-ng-click="openModalCreate(docentesModel)">
                                            <i class="glyphicon glyphicon-user"></i> Docente</a>
                                    </li>
                                    <li ng-controller="MateriasCtrl">
                                        <a href data-ng-click="openModalCreate(materiasModel)">
                                            <i class="glyphicon glyphicon-education"></i> Materia</a>
                                    </li>
                                    <li ng-controller="GradoDocenteController"><a href
                                                                                  data-ng-click="openModalCreate(grado_docente_model)">
                                        <i class="glyphicon glyphicon-grain"></i> Grado docente</a></li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <span class="glyphicon glyphicon-download-alt"></span> Descargar <span
                                    class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="" ng-click="show_modal_report()">
                                            <i class="glyphicon glyphicon-file"></i> Reporte (.pdf)</a>
                                    </li>

                                    <li>
                                        <a href="" ng-click="download_file_banco()">
                                            <i class="glyphicon glyphicon-file"></i> Lista(Cuenta bancaria - Monto)
                                            (.txt)</a>
                                    </li>
                                </ul>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">
                                    <span class="glyphicon glyphicon-wrench"></span> Opciones <span
                                    class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="" ng-click="limpiar('reintegro')">
                                            <i class="glyphicon glyphicon-unchecked"></i> Limpiar reintegro</a>
                                    </li>

                                    <li>
                                        <a href="" ng-click="limpiar('atrasos_periodos')">
                                            <i class="glyphicon glyphicon-unchecked"></i> Limpiar atrasos</a>
                                    </li>
                                </ul>
                            </li>

                            <li role="presentation"><a href="" ng-click="show_preview_payroll()">
                                <span class="glyphicon glyphicon-print"></span> Vista previa</a>
                            </li>
                            <li role="presentation">
                                <a href="" ng-click="refresh_payroll()">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                    Actualizar
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <hr>
            <div ng-include="'views/Payroll.html'"></div>
        </div>
    </div>
</div>
