<div ng-controller="VerplanillaCtrl" ng-init="generarPlanilla(1,filters.items_for_page,20);">
    <div ng-controller="PayrollController">
        <div class="container-sheets">
            <div id="sheets">
                <nav id="menu-toolbar">
                    <div class="block-menu icon">
                        <label class="inline-block">
                            <img src="images/payroll-icon.png"
                                 title="{{'EMI '">
                        </label>
                    </div>
                    <div class="block-menu titles">
                        <div class="menu-title">
                            <h3 class="inline-block"
                                data-ng-bind="'Planillas de pago '">
                            </h3>
                            <h5 class="inline-block"
                                data-ng-bind="GF.getFullGestionNamme()"></h5>
                        </div>
                        <div class="menu-items">
                            <ul class="nav nav-pills">
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        <span class="glyphicon glyphicon-file"></span> Nuevo <span
                                        class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href data-ng-click="openModalCreate(modelTeacher)">
                                            <i class="glyphicon glyphicon-user"></i> Docente</a></li>
                                        <li><a href data-ng-click="openModalCreate(modelMatter)">
                                            <i class="glyphicon glyphicon-education"></i> Materia</a></li>
                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        <span class="glyphicon glyphicon-download-alt"></span> Descargar <span
                                        class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!--<li><a href=""><span class="glyphicon glyphicon-save-file"></span> Vista previa .pdf</a></li>-->
                                        <li><a href="" ng-click="exportData()" target="_top"><span
                                            class="glyphicon glyphicon-save-file"></span> Vista actual (.xls)</a>
                                        </li>
                                        <li><a href="" ng-click="generarReportePlanilla(true)" target="_top"><span
                                            class="glyphicon glyphicon-save-file"></span> Reporte (.pdf)</a>
                                        </li>
                                        <li><a href="" ng-click="generarReporteCuentasTXT()" download><span
                                            class="glyphicon glyphicon-save-file"></span> Lista (Cuenta bancaria - monto) .txt</a></li>
                                    </ul>
                                </li>

                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        <span class="glyphicon glyphicon-adjust"></span> Opciones <span
                                        class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!--<li><a href=""><span class="glyphicon glyphicon-save-file"></span> Vista previa .pdf</a></li>-->
                                        <li><a href="" ng-click="LimpiarReintegro()"><span
                                            class="glyphicon glyphicon-globe"></span> Limpiar
                                            reintegro</a>
                                        </li>
                                        <li><a href="" ng-click="LimpiarAtrasos()"><span
                                            class="glyphicon glyphicon-globe"></span> Limpiar
                                            atrasos</a></li>
                                    </ul>
                                </li>

                                <li role="presentation"><a href="" ng-click="generarReportePlanilla()">
                                    <span class="glyphicon glyphicon-print"></span> Vista previa</a>
                                </li>
                                <!--<li role="presentation"><a href="" data-ng-click="print()">
                                    <span class="glyphicon glyphicon-print"></span> Imprimir</a>
                                </li>-->
                                <li role="presentation">
                                    <a href="" ng-click="isSearchCollapsed = !isSearchCollapsed">
                                        <span class="glyphicon glyphicon-search"></span>
                                        Filtros
                                <span class="glyphicon"
                                      data-ng-class="isSearchCollapsed ? 'glyphicon-chevron-up':'glyphicon-chevron-down'">
                                </span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="" ng-click="generarPlanilla(1)">
                                        <span class="glyphicon glyphicon-refresh"></span>
                                        Actualizar
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <hr>
                <div uib-collapse="!isSearchCollapsed">
                    <div class="well well-lg">
                        <div class="form-horizontal row">
                            <div class="form-group-sm">
                                <div class="col-sm-2">
                                    <p class="">Unidad Academica</p>
                                    <label ng-if="!GF.isRoot()"
                                           ng-init="filters.filter_unidad_academica = GF.getUnidadAcademicaId()">{{GF.getUser().UnidadAcademica}}</label>
                                    <select ng-if="GF.isRoot()" class="form-control input-sm"
                                            ng-model="filters.filter_unidad_academica"
                                            ng-change="generarPlanilla(1)">
                                        <option value=""> -- Todos las unidades --</option>
                                        <option ng-repeat="carrera in GLOBALS.UNIDADES_ACADEMICAS"
                                                value="{{carrera.idUnidadAcademica}}">
                                            {{carrera.UnidadAcademica}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <p class="">Carrera</p>
                                    <label ng-if="!(GF.isAdmin() || GF.isRoot())"
                                           ng-init="filters.filter_carrera = GF.getEspecialidadId()">{{GF.getEspecialidadName()}}</label>
                                    <select ng-if="GF.isAdmin() || GF.isRoot()" class="form-control"
                                            ng-model="filters.filter_carrera"
                                            ng-change="generarPlanilla(1)">
                                        <option value=""> -- Todos --</option>
                                        <option ng-repeat="carrera in GLOBALS.ESPECIALIDADES"
                                                value="{{carrera.idEspecialidad}}">
                                            {{carrera.Especialidad}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-sm-3">
                                    <p class="">Docente</p>
                                    <ui-select tagging tagging-label="('new')" ng-model="filtersObjects.filter_docente"
                                               theme="bootstrap"
                                               title="Seleccione docente" ng-change="generarPlanilla(1)">
                                        <ui-select-match allow-clear="true" placeholder="-- Todos --">
                                            {{$select.selected.Docente}}
                                        </ui-select-match>
                                        <ui-select-choices
                                            repeat="docente in GLOBALS.LISTA_CUSTOM_DOCENTES | filter: $select.search">
                                            <div ng-bind-html="docente.Docente | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-sm-3">
                                    <p class="">Materia</p>
                                    <ui-select tagging tagging-label="('new')" ng-model="filtersObjects.filter_materia"
                                               theme="bootstrap"
                                               title="Seleccione materia" ng-change="generarPlanilla(1)">
                                        <ui-select-match allow-clear="true" placeholder="-- Todos --">
                                            {{$select.selected.Materia}}
                                        </ui-select-match>
                                        <ui-select-choices
                                            repeat="materia in GLOBALS.LISTA_CUSTOM_MATERIAS | filter: $select.search">
                                            <div ng-bind-html="materia.Materia | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-sm-2">
                                    <p class="">Factura</p>
                                    <select class="form-control" ng-model="filters.filter_factura"
                                            ng-change="generarPlanilla(1)">
                                        <option value=""> -- Todos --</option>
                                        <option ng-repeat="tipo in GLOBALS.FACTURA_ITEMS" value="{{tipo.id}}">
                                            {{tipo.name}}
                                        </option>
                                    </select>
                                </div>
                                <!--<div class="col-sm-2">
                                  <p class="">Tipo</p>
                                  <select class="form-control" ng-model="filter_tipo">
                                    <option  value="" > -- Todos --</option>
                                    <option ng-repeat="tipo in GLOBALS.TIPOS_DOCENCIA" value="{{tipo.name}}">
                                      {{tipo.name}}
                                    </option>
                                  </select>
                                </div>-->

                                <div class="col-sm-2">
                                    <p class="">Categoria</p>
                                    <select class="form-control" ng-model="filters.filter_category"
                                            ng-change="generarPlanilla(1)">
                                        <option value="" selected> -- Todos --</option>
                                        <option ng-repeat="cat in GLOBALS.TIPOS_CATEGORIAS" value="{{cat.name}}">
                                            {{cat.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <br>

                            <div class="form-group-sm">
                                <div class="col-sm-2">
                                    <p>Numero de horas</p>
                                    <select class="form-control sm" ng-model="filters.NUMERO_HORAS"
                                            ng-init="filters.NUMERO_HORAS = NUMERO_HORAS_DISPONIBLE[0];filters.filter_HEADER_PLANILLA = 'A '+filters.NUMERO_HORAS+' Horas'"
                                            ng-change="filters.filter_HEADER_PLANILLA = 'A '+filters.NUMERO_HORAS+' Horas';generarPlanilla(1)">
                                        <option ng-repeat="num in NUMERO_HORAS_DISPONIBLE" value="{{num}}">
                                            {{num+' Horas'}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-sm-1">
                                    <p>**Reintegro</p>
                                    <input type="checkbox" ng-model="filters.SHOW_REINTEGRO"
                                           ng-init="filters.SHOW_REINTEGRO = false"
                                           ng-change="generarPlanilla(1)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12" ng-init="generarPlanilla(1)">

                        <!--<small>Planilla autogenerada de 1 Semana</small>-->
                        <div class="">
                            <table class="table-editable">
                                <thead>
                                <tr>
                                    <th rowspan="2" class="w20">N</th>
                                    <th rowspan="2" class="w20">Habil.</th>
                                    <th rowspan="2" class="w70">CI</th>
                                    <th rowspan="2" class="w100">Cuenta BU</th>
                                    <th rowspan="2" class="w30 rotate90">Grado</th>
                                    <th rowspan="2" class="w150">Apellidos y Nombres</th>
                                    <th ng-show="GF.isAdmin()" rowspan="2" class="w120">Carrera</th>
                                    <th rowspan="2" class="w180">Materia</th>
                                    <th rowspan="2" class="w70">Tipo</th>
                                    <th rowspan="2" class="w30 rotate90">Horas<br>Sem.</th>
                                    <th rowspan="2" class="w30 rotate90">Cat.</th>
                                    <th colspan="{{filters.SHOW_REINTEGRO?4:3}}">Ingresos</th>
                                    <th rowspan="2" class="w40 rotate90">Atrasos<br>Periodos</th>
                                    <th rowspan="2" class="w50">TOTAL</th>
                                    <th colspan="3">Egresos</th>
                                    <th rowspan="2" class="w30 rotate90">Factura</th>
                                    <th rowspan="2">Liquido Pagable</th>
                                    <!--<th rowspan="2"></th>-->
                                </tr>
                                <tr>
                                    <th class="w50">Monto</th>
                                    <th class="w50">Total1</th>
                                    <th class="w70" ng-show="filters.SHOW_REINTEGRO"><span>Reintegro</span></th>
                                    <th class="w50" title="Numero de periodos atrasados">Total2</th>
                                    <th class="w50 text-center" title="Impuesto a las Utilidades">I.U.</th>
                                    <th class="w50 text-center" title="Impuesto a las Transacciones">I.T.</th>
                                    <th class="w50 text-center">Total</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="docente in planillas_listing_page.items" context-menu="menusPayrollList">
                                    <td class="w20"
                                        ng-bind="filters.items_for_page*(planillas_listing_page.page-1)+$index+1"></td>
                                    <td class="w20 text-center" style="padding: 0 !important;">
                                        <button class="btn btn-success btn-xs text-center" ng-show="docente.Habilitado"
                                                style="padding: 0 !important;" title="Inhabilitar docente de planillas"
                                                ng-click="HabilitarDocente(docente,false)"><i
                                            class="glyphicon glyphicon-ok text-center"></i></button>
                                        <button class="btn btn-danger btn-xs text-center" ng-hide="docente.Habilitado"
                                                style="padding: 0 !important;" title="Habilitar docente a planillas"
                                                ng-click="HabilitarDocente(docente,true)"><i
                                            class="glyphicon glyphicon-remove text-center"></i></button>
                                    </td>
                                    <td class="w70" ng-bind="docente.CI"></td>
                                    <td class="w100">
                                      <span editable-text="docente.CuentaBancaria" buttons="no"
                                            onbeforesave="updateNumeroCuenta(docente,$data)">
                                      {{docente.CuentaBancaria || "--"}}
                                      </span>
                                    </td>
                                    <td class="w30" ng-bind="docente.Grado||'-'"></td>
                                    <td class="w150">
                                      <span class="cursorCell" ng-click="modificarDocente(docente)"
                                            ng-bind="docente.Nombres||'--' "></span>
                                    </td>
                                    <td class="w120" ng-show="GF.isAdmin()"
                                        ng-bind="((docente.Especialidad) | ingenieria)||'--'"></td>
                                    <td class="w180">
                                          <span editable-select="docente.Materia"
                                                onbeforesave="updateMateria(docente,$data)"
                                                e-ng-options="g.idMateria as g.Materia for g in GLOBALS.LISTA_CUSTOM_MATERIAS"
                                                buttons="no">
                                          {{docente.Materia||"-"}}
                                          </span>
                                    </td>
                                    <td class="w70">
                                          <span editable-select="docente.Tipo"
                                                onbeforesave="updateTipoDocencia(docente,$data)"
                                                e-ng-options="g.name as g.name for g in GLOBALS.TIPOS_DOCENCIA"
                                                buttons="no">
                                          {{docente.Tipo||"-"}}
                                          </span>
                                    </td>
                                    <td class="w30">
                                      <span editable-select="docente.HorasSemanales"
                                            onbeforesave="updateHorasSemanales(docente,$data)"
                                            e-ng-options="g.id as g.name for g in GLOBALS.TIEMPOS_CARGA_HORARIA"
                                            buttons="no">
                                      {{docente.HorasSemanales||"-"}}
                                      </span>
                                    </td>
                                    <td class="w30">
                                      <span editable-select="docente.Categoria"
                                            onbeforesave="updateCategoria(docente,$data)"
                                            e-ng-options="g.id as g.name for g in GLOBALS.TIPOS_CATEGORIAS"
                                            buttons="no">
                                      {{docente.Categoria||"-"}}
                                      </span>
                                    </td>
                                    <td class="w50" ng-bind="(docente.Monto|mountC)||'-'"></td>
                                    <td class="w50" ng-bind="(docente.Total_1|mountC)||'-'"></td>
                                    <td class="w70" ng-show="filters.SHOW_REINTEGRO">
                                      <span editable-text="docente.Reintegro" buttons="no" onbeforesave="updateReintegro(docente,$data)">
                                      {{(docente.Reintegro|mountC)||'-'}}
                                      </span>
                                    </td>
                                    <td class="w50" ng-bind="(docente.Total_2|mountC)||'-'"></td>
                                    <td class="w40">
                                      <span editable-text="docente.Atrasos_Periodos" onbeforesave="updateAtrasos(docente,$data)" buttons="no">
                                      {{(docente.Atrasos_Periodos||0)|mountC}}
                                      </span>
                                    </td>
                                    <td class="w50" ng-bind="(docente.Total_3|mountC)||'-'"></td>
                                    <td class="w50" ng-bind="(docente.IU|mountC)||'-'"></td>
                                    <td class="w50" ng-bind="(docente.IT|mountC)||'-'"></td>
                                    <td class="w50" ng-bind="(docente.Total_4|mountC)||'-'"></td>

                                    <td class="w30">
                                      <span editable-select="docente.Factura" onbeforesave="updateFactura(docente,$data)"
                                            e-ng-options="g.id as g.name for g in GLOBALS.FACTURA_ITEMS" buttons="no">
                                      {{docente.Factura?"Si":"No"}}
                                      </span>
                                    </td>
                                    <!--<td editable-text="docente.Factura" onbeforesave="updateFactura(docente,$data)"  buttons="no"  class="tdEditable noSelectable">{{docente.Factura}}</td>-->
                                    <td class="tLiquido" ng-bind="(docente.LiquidoPagable|mountC)||'-'"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-hide="planillas_listing_page.items" class="text-center">-- No se Encontro Resultados
                                --
                            </div>
                        </div>


                        <div>
                            <!--<a href="" ng-click="exportData()">Descargar Reporte</a>-->

                            <div id="exportableReport" style="display: none">
                                <div class="row center">
                                    <h1>Planillas</h1>
                                </div>
                                <table class="table-planillas-f" border="2px">
                                    <thead>
                                    <tr>
                                        <th rowspan="2" class="tN">N</th>
                                        <th rowspan="2" class="tCi">CI</th>
                                        <th rowspan="2" class="tCuenta">Cuenta BU</th>
                                        <th rowspan="2" class="tGrado rotate90">Grado</th>
                                        <th rowspan="2" class="tNombres">Apellidos y Nombres</th>
                                        <th ng-show="GF.isAdmin()" rowspan="2" class="tCarrera">Carrera</th>
                                        <th rowspan="2" class="tMateria">Materia</th>
                                        <th rowspan="2" class="tTipo">Tipo</th>
                                        <th rowspan="2" class="tHoras rotate90">Horas<br>Sem.</th>
                                        <th rowspan="2" class="tCategoria rotate90">Cat.</th>
                                        <th colspan="{{filters.SHOW_REINTEGRO?4:3}}">Ingresos</th>
                                        <th rowspan="2" class="tAtrasos rotate90">Atrasos<br>Periodos</th>
                                        <th rowspan="2" class="tNumber">TOTAL</th>
                                        <th colspan="3">Egresos</th>
                                        <th rowspan="2" class="tFactura rotate90">Factura</th>
                                        <th rowspan="2">Liquido Pagable</th>
                                        <!--<th rowspan="2"></th>-->
                                    </tr>
                                    <tr>
                                        <th class="tNumber">Monto</th>
                                        <th class="tNumber">Total1</th>
                                        <th class="tReintegro" ng-show="filters.SHOW_REINTEGRO"><span>Reintegro</span>
                                        </th>
                                        <th class="tNumber">Total2</th>
                                        <th class="tNumber text-center">I.U.</th>
                                        <th class="tNumber text-center">I.T.</th>
                                        <th class="tNumber text-center">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-repeat="docente in planillas_listing_page_exel">
                                        <td class="tN"
                                            ng-bind="filters.items_for_page*(planillas_listing_page.page-1)+$index+1"></td>
                                        <td class="tCi" ng-bind="docente.CI"></td>
                                        <td class="tCuenta">
              <span editable-text="docente.CuentaBancaria" buttons="no"
                    onbeforesave="updateNumeroCuenta(docente,$data)">
              {{docente.CuentaBancaria || "--"}}
              </span>
                                        </td>
                                        <td class="tGrado" ng-bind="docente.Grado||'-'"></td>
                                        <td class="tNombres">
                  <span class="cursorCell" ng-click="modificarDocente(docente)"
                        ng-bind="docente.Nombres||'--' "></span>
                                        </td>

                                        <td class="tCarrera" ng-show="GF.isAdmin()"
                                            ng-bind="((docente.Especialidad) | ingenieria)||'--'"></td>

                                        <td class="tMateria">
              <span editable-select="docente.Materia" onbeforesave="updateMateria(docente,$data)"
                    e-ng-options="g.idMateria as g.Materia for g in GLOBALS.LISTA_CUSTOM_MATERIAS" buttons="no">
              {{docente.Materia||"-"}}
              </span>
                                        </td>
                                        <td class="tTipo">
                  <span editable-select="docente.Tipo" onbeforesave="updateTipoDocencia(docente,$data)"
                        e-ng-options="g.name as g.name for g in GLOBALS.TIPOS_DOCENCIA" buttons="no">
                  {{docente.Tipo||"-"}}
                  </span>
                                        </td>
                                        <td class="tHoras">
                  <span editable-select="docente.HorasSemanales" onbeforesave="updateHorasSemanales(docente,$data)"
                        e-ng-options="g.id as g.name for g in GLOBALS.TIEMPOS_CARGA_HORARIA" buttons="no">
                  {{docente.HorasSemanales||"-"}}
                  </span>
                                        </td>
                                        <td class="tCategoria">
                  <span editable-select="docente.Categoria" onbeforesave="updateCategoria(docente,$data)"
                        e-ng-options="g.id as g.name for g in GLOBALS.TIPOS_CATEGORIAS" buttons="no">
                  {{docente.Categoria||"-"}}
                  </span>
                                        </td>
                                        <td class="tNumber" ng-bind="(docente.Monto|mountC)||'-'"></td>
                                        <td class="tNumber" ng-bind="(docente.Total_1|mountC)||'-'"></td>
                                        <td class="tReintegro" ng-show="filters.SHOW_REINTEGRO">
              <span editable-text="docente.Reintegro" buttons="no" onbeforesave="updateReintegro(docente,$data)">
              {{(docente.Reintegro|mountC)||'-'}}
              </span>
                                        </td>
                                        <td class="tNumber" ng-bind="(docente.Total_2|mountC)||'-'"></td>
                                        <td class="tAtrasos">
              <span editable-text="docente.Atrasos_Periodos" onbeforesave="updateAtrasos(docente,$data)" buttons="no">
              {{(docente.Atrasos_Periodos||0)|mountC}}
              </span>
                                        </td>
                                        <td class="tNumber" ng-bind="(docente.Total_3|mountC)||'-'"></td>
                                        <td class="tNumber" ng-bind="(docente.IU|mountC)||'-'"></td>
                                        <td class="tNumber" ng-bind="(docente.IT|mountC)||'-'"></td>
                                        <td class="tNumber" ng-bind="(docente.Total_4|mountC)||'-'"></td>

                                        <td class="tFactura">
              <span editable-select="docente.Factura" onbeforesave="updateFactura(docente,$data)"
                    e-ng-options="g.id as g.name for g in GLOBALS.FACTURA_ITEMS" buttons="no">
              {{docente.Factura?"Si":"No"}}
              </span>
                                        </td>
                                        <!--<td editable-text="docente.Factura" onbeforesave="updateFactura(docente,$data)"  buttons="no"  class="tdEditable noSelectable">{{docente.Factura}}</td>-->
                                        <td class="tLiquido" ng-bind="(docente.LiquidoPagable|mountC)||'-'"></td>
                                        <td>
                                            <button class="btn btn-info btn-xs" ng-click="openModalViewCourso(docente)">
                                                <span class="glyphicon glyphicon-edit"></span></button>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div id="exportable" style="display: none">
                                <div class="row center">
                                    <h1>Planillas</h1>
                                </div>
                                <table class="table-planillas-f">
                                    <thead>
                                    <tr>
                                        <th rowspan="2" class="tN">N</th>
                                        <th rowspan="2" class="tN">Habil.</th>
                                        <th rowspan="2" class="tCi">CI</th>
                                        <th rowspan="2" class="tCuenta">Cuenta BU</th>
                                        <th rowspan="2" class="tGrado rotate90">Grado</th>
                                        <th rowspan="2" class="tNombres">Apellidos y Nombres</th>
                                        <th ng-show="GF.isAdmin()" rowspan="2" class="tCarrera">Carrera</th>
                                        <th rowspan="2" class="tMateria">Materia</th>
                                        <th rowspan="2" class="tTipo">Tipo</th>
                                        <th rowspan="2" class="tHoras rotate90">Horas<br>Sem.</th>
                                        <th rowspan="2" class="tCategoria rotate90">Cat.</th>
                                        <th colspan="3">Ingresos</th>
                                        <th rowspan="2" class="tAtrasos rotate90">Atrasos<br>Periodos</th>
                                        <th rowspan="2" class="tNumber">TOTAL</th>
                                        <th colspan="3">Egresos</th>
                                        <th rowspan="2" class="tFactura rotate90">Factura</th>
                                        <th rowspan="2">Liquido Pagable</th>
                                        <!--<th rowspan="2"></th>-->
                                    </tr>
                                    <tr>
                                        <th class="tNumber">Monto</th>
                                        <th class="tNumber">Total1</th>
                                        <th class="tNumber">Total2</th>
                                        <th class="tNumber text-center">I.U.</th>
                                        <th class="tNumber text-center">I.T.</th>
                                        <th class="tNumber text-center">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr ng-repeat="docente in planillas_listing_page_exel">
                                        <td class="tN"
                                            ng-bind="filters.items_for_page*(planillas_listing_page.page-1)+$index+1"></td>
                                        <td class="tN">
                                            <button class="btn btn-info btn-sm" ng-show="docente.Habilitado"><i
                                                class="glyphicon glyphicon-check"></i></button>
                                            <button class="btn btn-info btn-sm" ng-hide="docente.Habilitado"><i
                                                class="glyphicon glyphicon-remove"></i></button>
                                        </td>
                                        <td class="tCi" ng-bind="docente.CI"></td>
                                        <td class="tCuenta">
              <span editable-text="docente.CuentaBancaria" buttons="no"
                    onbeforesave="updateNumeroCuenta(docente,$data)">
              {{docente.CuentaBancaria || "--"}}
              </span>
                                        </td>
                                        <td class="tGrado" ng-bind="docente.Grado||'-'"></td>
                                        <td class="tNombres">
                  <span class="cursorCell" ng-click="modificarDocente(docente)"
                        ng-bind="docente.Nombres||'--' "></span>
                                        </td>

                                        <td class="tCarrera" ng-show="GF.isAdmin()"
                                            ng-bind="((docente.Especialidad) | ingenieria)||'--'"></td>

                                        <td class="tMateria">
              <span editable-select="docente.Materia" onbeforesave="updateMateria(docente,$data)"
                    e-ng-options="g.idMateria as g.Materia for g in GLOBALS.LISTA_CUSTOM_MATERIAS" buttons="no">
              {{docente.Materia||"-"}}
              </span>
                                        </td>
                                        <td class="tTipo">
                  <span editable-select="docente.Tipo" onbeforesave="updateTipoDocencia(docente,$data)"
                        e-ng-options="g.name as g.name for g in GLOBALS.TIPOS_DOCENCIA" buttons="no">
                  {{docente.Tipo||"-"}}
                  </span>
                                        </td>
                                        <td class="tHoras">
                  <span editable-select="docente.HorasSemanales" onbeforesave="updateHorasSemanales(docente,$data)"
                        e-ng-options="g.id as g.name for g in GLOBALS.TIEMPOS_CARGA_HORARIA" buttons="no">
                  {{docente.HorasSemanales||"-"}}
                  </span>
                                        </td>
                                        <td class="tCategoria">
                    <span editable-select="docente.Categoria" onbeforesave="updateCategoria(docente,$data)"
                          e-ng-options="g.id as g.name for g in GLOBALS.TIPOS_CATEGORIAS" buttons="no">
                    {{docente.Categoria||"-"}}
                    </span>
                                        </td>
                                        <td class="tNumber" ng-bind="(docente.Monto|mountC)||'-'"></td>
                                        <td class="tNumber" ng-bind="(docente.Total_1|mountC)||'-'"></td>
                                        <td class="tNumber" ng-bind="(docente.Total_2|mountC)||'-'"></td>
                                        <td class="tAtrasos">
                      <span editable-text="docente.Atrasos_Periodos" onbeforesave="updateAtrasos(docente,$data)"
                            buttons="no">
                      {{(docente.Atrasos_Periodos||0)|mountC}}
                      </span>
                                        </td>
                                        <td class="tNumber" ng-bind="(docente.Total_3|mountC)||'-'"></td>
                                        <td class="tNumber" ng-bind="(docente.IU|mountC)||'-'"></td>
                                        <td class="tNumber" ng-bind="(docente.IT|mountC)||'-'"></td>
                                        <td class="tNumber" ng-bind="(docente.Total_4|mountC)||'-'"></td>

                                        <td class="tFactura">
                    <span editable-select="docente.Factura" onbeforesave="updateFactura(docente,$data)"
                          e-ng-options="g.id as g.name for g in GLOBALS.FACTURA_ITEMS" buttons="no">
                    {{docente.Factura?"Si":"No"}}
                    </span>
                                        </td>
                                        <!--<td editable-text="docente.Factura" onbeforesave="updateFactura(docente,$data)"  buttons="no"  class="tdEditable noSelectable">{{docente.Factura}}</td>-->
                                        <td class="tLiquido" ng-bind="(docente.LiquidoPagable|mountC)||'-'"></td>
                                        <td>
                                            <button class="btn btn-info btn-xs" ng-click="openModalViewCourso(docente)">
                                                <span class="glyphicon glyphicon-edit"></span></button>
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <p>**Filas por Pagina {{filters.items_for_page}}</p>
                            <select ng-options="paginas for paginas in NUMERO_PAGINACION"
                                    ng-model="filters.items_for_page"
                                    ng-init="filters.items_for_page = 20 "
                                    ng-change="generarPlanilla(1,filters.items_for_page);filters.pagination_selected = 0"></select>
                        </div>
                        <nav ng-init="filters.pagination_selected = 0">
                            <ul class="pagination">
                                <li>
                                    <a aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li ng-repeat="num in planillas_pages"
                                    ng-class="(filters.pagination_selected == $index)?'active':''">
                                    <a href=""
                                       ng-click="generarPlanilla($index+1,filters.items_for_page);filters.pagination_selected = $index">{{
                                        $index +1 }}</a>
                                </li>
                                <li>
                                    <a aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
